*, *:before, *:after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-family: San Francisco, Avenir, Helvetica, Verdana, sans-serif; }

body {
  text-align: center;
  padding-bottom: 50px; }
  body.loading:after {
    content: 'LOADING';
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.75);
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 15vw; }
  body.loading:before {
    content: '';
    width: 60vw;
    position: absolute;
    left: 50%;
    top: calc(50% + 7vw);
    background: blue;
    border-radius: 1vw;
    height: 2vw;
    z-index: 1;
    transform: translateX(-50%);
    box-shadow: inset -60vw 0px 0px 0px white;
    transition: all 0.1s ease; }

h1 img {
  vertical-align: middle;
  margin: -30px; }

#search {
  -webkit-border-radius: 0px;
  -webkit-appearance: none;
  padding: 0;
  background: lightgrey;
  border: 0;
  font-size: 120%;
  color: black;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  height: 30px;
  line-height: 31px;
  padding-left: 10px;
  width: calc(95% - 80px);
  outline: none;
  max-width: 500px;
  display: inline-block;
  vertical-align: middle; }

#clear {
  -webkit-border-radius: 0px;
  -webkit-appearance: none;
  padding: 0;
  background: grey;
  border: 0;
  font-size: 110%;
  color: white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  height: 30px;
  line-height: 31px;
  padding-right: 10px;
  width: 80px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle; }
  #clear:hover {
    background: red; }

#bundletotal {
  display: table;
  margin: 25px auto;
  border: 3px solid black;
  font-size: 300%;
  padding: 5px 10px 0px;
  line-height: 1; }
  #bundletotal:before {
    content: '$'; }
  #bundletotal:after {
    content: ' CAD'; }

#itemCount:before {
  content: 'YOU HAVE '; }
#itemCount:after {
  content: ' ITEM(S) IN YOUR BUNDLE'; }

table {
  border: 2px solid black;
  border-spacing: 0px;
  border-collapse: collapse;
  margin: 0 auto; }
  table thead tr {
    box-shadow: none !important; }
  table tr th.header {
    cursor: pointer; }
    table tr th.header:after {
      content: ' -'; }
    table tr th.header.headerSortDown:after {
      content: " v"; }
    table tr th.header.headerSortUp:after {
      content: " ^"; }
  table tr:hover {
    box-shadow: inset 0 0 0 3px rgba(0, 255, 0, 0.5); }
  table tr:nth-of-type(even) {
    background: rgba(0, 0, 0, 0.1); }
  table tr.selected {
    box-shadow: inset 0 0 0 30px rgba(0, 255, 0, 0.1);
    transition: box-shadow 1s ease; }
    table tr.selected .gameImage:before {
      content: "\2713 ";
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      transform: translate(-50%, -50%) rotate(7deg); }
  table td {
    padding: 3px 5px; }
    table td.gameImage {
      width: 35px;
      text-align: center;
      color: green;
      font-size: 180%;
      position: relative; }
    table td.gameLooseValue {
      text-align: right; }
      table td.gameLooseValue:before {
        content: '$'; }
  table thead tr {
    box-shadow: none; }

.hidden {
  display: none; }
