* {
  box-sizing: border-box;
}

body {
  font-family: Avenir, Avenir Next, Helvetica Neue, Helvetica, Verdana;
}

p {
  margin: 0;
}

#RosterOuterWrapper {
  text-align: center;
  border: 2px solid black;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

#RosterOuterWrapper #RosterButton {
  border-bottom: 1px solid transparent;
  -webkit-transition: padding .5s ease, margin .5s ease, border-color .5s ease;
  transition: padding .5s ease, margin .5s ease, border-color .5s ease;
}

#RosterOuterWrapper #RosterButton:before {
  content: 'Show ';
}

#RosterOuterWrapper #RosterButton:after {
  content: '+';
  border: 1px solid black;
  border-radius: 50%;
  display: inline-block;
  line-height: 14px;
  width: 14px;
  text-align: center;
  margin-left: 5px;
  position: relative;
  top: -1px;
}

#RosterOuterWrapper #RosterButton.open {
  border-bottom-color: black;
  padding-bottom: 10px;
  margin-bottom: 0px;
}

#RosterOuterWrapper #RosterButton.open:before {
  content: 'Hide ';
}

#RosterOuterWrapper #RosterButton.open:after {
  content: '-';
}

#RosterOuterWrapper #RosterWrapper {
  height: 0;
  overflow: hidden;
  -webkit-transition: height .5s linear;
  transition: height .5s linear;
}

#RosterOuterWrapper #RosterWrapper #Roster {
  display: block;
  margin: 0 auto 20px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

#RosterOuterWrapper #RosterWrapper #Roster input[type=checkbox] {
  display: none;
}

#RosterOuterWrapper #RosterWrapper #Roster label.Wrestler {
  display: table-cell;
  vertical-align: bottom;
  width: 150px;
  background-repeat: no-repeat;
  background-position: top center;
  padding: 100px 20px 0;
  border: 1px solid black;
  border-top-width: 0;
  border-bottom-width: 0;
}

#RosterOuterWrapper #RosterWrapper #Roster label.Wrestler:hover {
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

#RosterOuterWrapper #RosterWrapper #Roster label.Wrestler .DarkBG {
  background: rgba(0, 0, 0, 0.5);
  color: #FFF;
  width: calc(100% + 40px);
  margin-left: -20px;
  padding: 20px;
  text-align: center;
}

@media (max-width: 800px) {
  #RosterOuterWrapper #RosterWrapper #Roster label.Wrestler .DarkBG {
    padding: 10px;
  }
}

#RosterOuterWrapper #RosterWrapper #Roster label.Wrestler .DarkBG .Name,
#RosterOuterWrapper #RosterWrapper #Roster label.Wrestler .DarkBG b {
  font-weight: bold;
  text-transform: uppercase;
}

#RosterOuterWrapper #RosterWrapper #Roster label.Wrestler .DarkBG p {
  margin: 1px 0;
}

#RosterOuterWrapper #RosterWrapper #Roster label.Wrestler .DarkBG p:not(.Name) {
  display: table-cell;
  width: 30px;
  background: rgba(255, 255, 255, 0.75);
  border-right: 1px solid black;
  color: black;
}

#RosterOuterWrapper #RosterWrapper #Roster label.Wrestler .DarkBG p:not(.Name):last-of-type {
  border-right-width: 0;
}

#RosterOuterWrapper #RosterWrapper #Roster input[type=checkbox]:checked + label.Wrestler {
  background-color: #640000;
}

#RosterOuterWrapper #RosterWrapper #Roster input[type=checkbox]:disabled + label.Wrestler {
  opacity: 0.5;
}

#MatchOptions {
  text-align: center;
  border: 2px solid black;
  padding: 10px;
  margin: 10px;
}

#MatchTriggers {
  text-align: center;
  border: 2px solid black;
  padding: 10px;
  margin: 10px;
}

#MatchTriggers select {
  font-size: 16px;
}

#MatchTriggers button {
  background-color: #EEE;
  border: 1px solid #CCC;
  outline: none;
  font-size: 14px;
  text-transform: uppercase;
  display: inline-block;
  margin: 0 auto;
  padding: 5px;
  margin-top: 15px;
  font-size: 18px;
  padding: 8px;
}

#MatchTriggers button#Rematch:not([data-rematch]) {
  display: none;
}

#MatchOutcome {
  text-align: center;
  border: 2px solid black;
  padding: 10px;
  margin: 10px;
}

#MatchOutcome #WinnerName {
  text-align: center;
}

#MatchOutcome #WinnerName p:nth-of-type(even) {
  background-color: #f2f2f2;
}

#MatchOutcome .winner {
  color: green;
}

#MatchOutcome .loser {
  color: red;
}

#MatchOutcome .method {
  font-style: italic;
}
/*# sourceMappingURL=styles.css.map */