// Install Fonts
@font-face {
    font-family: 'Digital';
    src: url('digital.woff2') format('woff2'),
         url('digital.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// CSS Reset
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}

// CSS Vars
:root {
  --blue-dark: darkblue;
  --blue-medium: blue;
  --blue-light: lightblue;
  --white: #f8f8f8;
  --black: #d8d8d8;
  --yellow: yellow;
}		

html,
body {
	display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
	height: 100%;
	background-image: radial-gradient(white 10%,yellow 15%,orange 30%, black 70%);
    background-size: 100px 100px;
}

section.board {
    border: 1px solid black;
    position: relative;
    margin-top: 110px;
	border-top: 3px solid yellow;
	box-shadow: 0px 0px 10px 2px black;
	width: 98%;
}

// Hint
.hint {
    font-family: Helvetica Neue;
    text-transform: uppercase;
    text-align: center;
    color: white;
    background: black;
    padding: 30px;
    font-size: 45px;
    border-left: 3px solid yellow;
    border-right: 3px solid yellow;
}

// Points
.total {
	position: absolute;
	top: 10px;
	background: black;
	font-family: digital, monospace;
	color: yellow;
	font-size: 150px;
	left: 50%;
	transform: translate(-50%, -100%);
	text-align: center;
	line-height: 1;
	padding: 30px 70px 0;
	border-top-left-radius: 50%;
	border: 3px solid yellow;
	border-bottom: 0;
	border-top-right-radius: 50%;
	box-shadow: 0px 0px 10px 2px black;
	text-shadow: 0px 0px 8px orange;
}

// Answers
.answers {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 20px;
    background: black;
    border-bottom: 3px solid yellow;
    border-left: 3px solid yellow;
    border-right: 3px solid yellow;
}
.answer {
    display: block;
    position: relative;
    border: 2px solid black;
    background: black;
    color: white;
    font-family: Helvetica Neue;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    height: 10vh;
    line-height: 80px;
    overflow: hidden;
    width: 49.6%;
    margin: 0.2%;
    &-1 { order: 1; }
    &-2 { order: 3; }
    &-3 { order: 5; }
    &-4 { order: 7; }
    &-5 { order: 2; }
    &-6 { order: 4; }
    &-7 { order: 6; }
    &-8 { order: 8; }
    &:before {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    content: '';
	    z-index: 3;
	    border: 3px solid blue;
	    box-shadow: inset 1px 1px 4px 2px black;
	    background-image: radial-gradient(darkblue -30%,lightblue 150%);
	}
	&.loaded:after {
	    content: attr(data-number);
	    background-image: radial-gradient(darkblue 30%, lightblue 110%);
	    position: absolute;
	    height: 80%;
	    z-index: 3;
	    width: 20%;
	    display: flex;
	    top: 10%;
	    left: calc(50% - 45px);
	    border-radius: 50%;
	    box-shadow: inset 2px 2px 5px -1px black;
	    border: 2px solid blue;
	    font-size: 60px;
	    text-shadow: 1px 1px 2px black;
	    justify-content: center;
	    align-items: center;
	}
	&.revealed:before,
	&.revealed:after {
		transform: translateY(11vh);
		transition: transform 0.5s ease;
	}
}
.text {
	&-wrapper {
		position: absolute;
		top: 0;
		left: 0;
		width: 80%;
		height: 100%;
		z-index: 2;
		font-size: 60px;
		border: 1px solid blue;
		background: linear-gradient(to bottom,darkblue,black,darkblue);
    	box-shadow: inset 0px 0px 6px -1px yellow;
		padding: 20px;
		display: flex;
    	align-items: center;
	}
	& {
		position: absolute;
		display: block;
	    font-size: 60px;
	    line-height: 60px;
	    white-space: nowrap;
    	transform-origin: left;
	}
}
.value {
	position: absolute;
	top: 0;
	right: 0;
	width: 20%;
	height: 100%;
	z-index: 2;
	background-image: linear-gradient(blue,darkblue);
	font-size: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

// Errors
.errors {
	transition: opacity .25s ease;
    position: absolute;
    top: 15%;
    left: 15%;
    width: 70%;
    height: 70%;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
	&.hide {
		opacity: 0;
	}
	.error {
		width: 33%;
	    padding-bottom: 33%;
	    border: 3vw ridge red;
		background-image: 
			linear-gradient(55deg, 
				transparent calc(50% - 2vw), 
				red calc(50% - 2vw), 
				red 50%,
				#ab0000 50%,
				#ab0000 calc(50% + 2vw), 
				transparent calc(50% + 2vw)
			), 
			linear-gradient(-55deg, 
				transparent calc(50% - 2vw), 
				red calc(50% - 2vw), 
				red 50%,
				#ab0000 50%,
				#ab0000 calc(50% + 2vw), 
				transparent calc(50% + 2vw)
			)
		;
		display: inline-block;
		margin: 0 15px;
		box-shadow: 0 0 20px 5px black;
		&.hide {
			display: none;
		}
	}
}
// Instructions
.instructions {
	display: none;
	align-items: center;
	justify-content: center;
	background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.8), rgba(0,0,0,0.8), rgba(0,0,0,0.5));
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
	font-family: sans-serif;
	color: white;
	h2 {
		font-size: 200%;
		text-align: center;
	}
	h6 {
		font-size: 90%;
		text-transform: uppercase;
		text-align: center;
		border-top: 3px double white;
		padding-top: 5px;
		margin: 5px auto 15px;
	}
	p {
		font-size: 125%;
	}
	.key {
    	display: inline-block;
	    border: 2px solid white;
	    border-radius: 4px;
	    text-transform: uppercase;
	    font-size: 65%;
	    padding: 2px 4px;
	    margin: 0 3px;
	    position: relative;
	    box-shadow: -1px 1px 0px 0px lightgrey;
	    background: #eee;
	    color: #666;
	    font-family: monospace;
	}
	&.display {
		display: flex;
	}
}





