
	//*******************************************
	// CSS RESET
	//*******************************************
		// Based on the Meyer reset
		//*******************************************/
		@if ( $reset == true ) {
			* {
				box-sizing: border-box;
			}
			html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
				margin: 0;
				padding: 0;
				border: 0;
				font-size: inherit;
				font-family: inherit;
				vertical-align: baseline;
			}
			html {
				height: 100%;
			}
			body {
				min-height: 100%;
			}
			// HTML5 display-role reset for older browsers
			article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
				display: block;
			}
			// Move this out to the settings file?
			ol, ul {
				list-style: none;
			}
			// Move this out to the settings file?
			blockquote, q {
				quotes: none;
				&:before,
				&:after {
					content: '';
					content: none;
				}
			}
			table {
				border-collapse: collapse;
				border-spacing: 0;
			}
		}

	//*******************************************
	// TYPOGRAPHY
	//*******************************************
		html {
			font-size: add-unit($p-font-size);
		}
		body {
			font-family: $p-font;
			font-size: 100%;
			font-weight: $p-font-weight;
			font-style: $p-font-style;
			color: $p-font-color;
			line-height: $p-line-height;
			@include gutters;
		}
		p {
			margin-bottom: $p-margin-bottom;
		}
		h1 {
			font-family: $h1-font;
			font-size: add-unit($h1-font-size);
			font-weight: $h1-font-weight;
			font-style: $h1-font-style;
			color: $h1-font-color;
			line-height: $h1-line-height;
			margin-bottom: $h1-margin-bottom;
		}
		h2 {
			font-family: $h2-font;
			font-size: add-unit($h2-font-size);
			font-weight: $h2-font-weight;
			font-style: $h2-font-style;
			color: $h2-font-color;
			line-height: $h2-line-height;
			margin-bottom: $h2-margin-bottom;
		}
		h3 {
			font-family: $h3-font;
			font-size: add-unit($h3-font-size);
			font-weight: $h3-font-weight;
			font-style: $h3-font-style;
			color: $h3-font-color;
			line-height: $h3-line-height;
			margin-bottom: $h3-margin-bottom;
		}
		h4 {
			font-family: $h4-font;
			font-size: add-unit($h4-font-size);
			font-weight: $h4-font-weight;
			font-style: $h4-font-style;
			color: $h4-font-color;
			line-height: $h4-line-height;
			margin-bottom: $h4-margin-bottom;
		}
		h5 {
			font-family: $h5-font;
			font-size: add-unit($h5-font-size);
			font-weight: $h5-font-weight;
			font-style: $h5-font-style;
			color: $h5-font-color;
			line-height: $h5-line-height;
			margin-bottom: $h5-margin-bottom;
		}
		h6 {
			font-family: $h6-font;
			font-size: add-unit($h6-font-size);
			font-weight: $h6-font-weight;
			font-style: $h6-font-style;
			color: $h6-font-color;
			line-height: $h6-line-height;
			margin-bottom: $h6-margin-bottom;
		}

	//*******************************************
	// IMAGES 
	//*******************************************
		img {
			max-width: 100%;
		}

	//*******************************************
	// LINKS
	//*******************************************
		a {
			color: $link-color;
			text-decoration: none;
			p &:hover,
			p &:active {
				text-decoration: underline;
			}
		}

	//*******************************************
	// BUTTONS
	//*******************************************
		.button {
			@include button;
		}
	
	//*******************************************
	// BILLBOARDS
	//*******************************************
		@if ($prototype == true) {
			.billboard {
				@include billboard;
				&-slide {
					@include slide;
					&.top {
						justify-content: flex-start; 
					}
					&.middle {
						justify-content: center;
					}
					&.bottom {
						justify-content: flex-end;
					}
					&.left {
						align-items: flex-start;
						text-align: left;
					}
					&.center {
						align-items: flex-end;
						text-align: right;
					}
					&.right {
						align-items: flex-end;
						text-align: right;
					}
				}
			}
		}

	//*******************************************
	// POPUPS (Convert to mixin)
	//*******************************************
		.popup {
			&-open {
				overflow: hidden;
			}
			&-bg {
				position: fixed;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background: rgba($shade-dark,0.5);
				overflow: hidden;
				pointer-events: none;
				opacity: 0;
				transform: scaleY(0);
				transition: 
					opacity 0.25s ease,
					transform 0.25s ease;
				;
				.popup-open & {
					pointer-events: auto;
					opacity: 1;
					transform: scaleY(1);
					z-index: 2;
				}
			}
			&-wrap {
				background: $shade-lite;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
				max-width: 90vw;
				max-height: 90vh;
			}
			&-container {
				padding: 30px;
				overflow: auto;
				max-width: 90vw;
				max-height: 90vh;
			}
			&-close {
				position: absolute;
				top: 0;
				right: 0;
				display: block;
				width: 30px; 
				height: 30px;
				transform: translate(40%, -40%);
				background: $color-danger;
				cursor: pointer;
				text-align: center;
				line-height: 23px;
				color: white;
				border: 3px solid $shade-lite;
				border-radius: 50%;
				font-size: 30px;
				transition: transform 0.3s ease;
				z-index: 1;
				&:before {
					content: '\00d7';
					position: relative;
					top: -2px;
				}
				&:hover {
					transform: translate(40%, -40%) rotate(90deg);
				}
			}
			&-content {
				display: none;
			}
		}

	//*******************************************
	// Embedded (iframe) Videos
	//*******************************************
		@if ($prototype == true) {
			.responsive-widescreen {
				@include responsive-iframe(wide);
			}
			.responsive-fullscreen {
				@include responsive-iframe(full);
			}
		}

	//*******************************************
	// FORMS (convert to mixin)
	//*******************************************
		.form-field {
			position: relative;
			margin-bottom: 25px;
		}
		.help-trigger {
			position: absolute;
			top: 0;
			right: 0;
			display: block;
			width: 25px;
			height: 25px;
			border: 2px solid $color-warning;
			border-radius: 50%;
			text-align: center;
			line-height: 20px;
			font-size: 90%;
			color: $color-warning;
			cursor: pointer;
			&:hover,
			&.open {
				background-color: $shade-medium-dark;
			}
		}
		label {
			display: block;
			margin-bottom: 5px;
		}	
		[type='text'], 
		[type='password'], 
		[type='date'], 
		[type='datetime'], 
		[type='datetime-local'], 
		[type='month'], 
		[type='week'], 
		[type='email'], 
		[type='number'], 
		[type='search'], 
		[type='tel'],
		[type='time'], 
		[type='url'], 
		[type='color'], 
		textarea {
		    display: block;
		    box-sizing: border-box;
		    width: 100%;
		    height: 2.4375rem;
		    margin: 0 0 1rem;
		    padding: .5rem;
		    border: 1px solid #BFBFBF;
		    border-radius: 3px;
		    background-color: #fefefe;
		    box-shadow: inset 0 1px 2px rgba(10,10,10,0.1);
		    font-family: inherit;
		    font-size: 1rem;
		    font-weight: normal;
		    color: #0a0a0a;
		    transition: box-shadow 0.5s,border-color 0.25s ease-in-out;
		    appearance: none;
		    &:focus {
		    	outline: none;
			    border: 1px solid #8a8a8a;
			    background-color: #fefefe;
			    box-shadow: 0 0 5px #BFBFBF;
			    transition: box-shadow 0.5s,border-color 0.25s ease-in-out;
		    }
		}
		[type='file'] {
			width: 0.1px;
			height: 0.1px;
			opacity: 0;
			overflow: hidden;
			position: absolute;
			z-index: -1;
			+ .file-placeholder {
				@include button($size:small);

			}
			&:focus + .file-placeholder ,
			& + .file-placeholder:hover {
			    // background-color: red;
			}
		}
		button,
		[type='submit'] {
			@include button;
		}










































