// Basics
$reset: true;
$prototype: false;

// Colours
$color-primary: #001f3f !default; // Navy
$color-secondary: #3D9970 !default; // Olive
$color-tertiary: #B10DC9 !default; // Purple
$color-success: #2ECC40 !default;
$color-warning: #ff9900 !default;
$color-danger: #FF4136 !default;

// Shades
$shade-dark: #111 !default;
$shade-medium-dark: #333 !default;
$shade-medium: #777 !default;
$shade-medium-lite: #BBB !default;
$shade-lite: #EEE !default;

// Body
$body-bg: $shade-lite !default;
$body-padding: true !default;

// Paragraphs (and all non-heading text)
$p-font: San Francisco, Helvetica, Arial, Verdana, sans-serif !default;
$p-font-size: text(14, 18) !default;
$p-font-weight: normal !default;
$p-font-style: normal !default;
$p-font-color: $shade-dark !default;
$p-line-height: 1.3 !default;
$p-margin-bottom: 1rem !default;

// Headings (h1; others based on this)
$h1-font: Avenir Next, Helvetica, Arial, Verdana, sans-serif !default;
$h1-font-size: text(30, 54) !default;
$h1-font-weight: bold !default;
$h1-font-style: normal !default;
$h1-font-color: $p-font-color !default;
$h1-line-height: $p-line-height !default;
$h1-margin-bottom: $p-margin-bottom !default;

$h2-font: $h1-font !default;
$h2-font-size: text(25, 33) !default;
$h2-font-weight: $h1-font-weight !default;
$h2-font-style: $h1-font-style !default;
$h2-font-color: $h1-font-color !default;
$h2-line-height: $h1-line-height !default;
$h2-margin-bottom: $h1-margin-bottom !default;

$h3-font: $h1-font !default;
$h3-font-size: text(21, 26) !default;
$h3-font-weight: $h1-font-weight !default;
$h3-font-style: $h1-font-style !default;
$h3-font-color: $h1-font-color !default;
$h3-line-height: $h1-line-height !default;
$h3-margin-bottom: $h1-margin-bottom !default;

$h4-font: $h1-font !default;
$h4-font-size: text(14, 18) !default;
$h4-font-weight: $h1-font-weight !default;
$h4-font-style: $h1-font-style !default;
$h4-font-color: $h1-font-color !default;
$h4-line-height: $h1-line-height !default;
$h4-margin-bottom: $h1-margin-bottom !default;

$h5-font: $h1-font !default;
$h5-font-size: text(13, 16) !default;
$h5-font-weight: $h1-font-weight !default;
$h5-font-style: $h1-font-style !default;
$h5-font-color: $h1-font-color !default;
$h5-line-height: $h1-line-height !default;
$h5-margin-bottom: $h1-margin-bottom !default;

$h6-font: $h1-font !default;
$h6-font-size: text(11, 14) !default;
$h6-font-weight: $h1-font-weight !default;
$h6-font-style: $h1-font-style !default;
$h6-font-color: $h1-font-color !default;
$h6-line-height: $h1-line-height !default;
$h6-margin-bottom: $h1-margin-bottom !default;

// Layout & Grid
$layout-width: 1400px !default;
$breakpoints: (
	sm: 0,
	md: 700px,
	lg: 1100px,
) !default;
$grid-column-count: 12 !default;
$grid-gutters: (
	sm: 5px,
	md: 10px,
	lg: 15px
) !default;
$grid-gutters-default: map-get($grid-gutters, lg) !default;
$vertical-spacing: (
	sm: 20px,
	md: 35px,
	lg: 50px
) !default;
$vertical-spacing-default: map-get($grid-gutters, md) !default;

// Links
$link-color: $color-primary !default;

// Buttons
$button-bg-color: $color-primary !default;
$button-shade-shift: lighten !default;
$button-type: solid !default;
$button-border-radius: 3px !default;
$button-padding: 15px 25px !default;
$button-font-weight: bold !default;
$button-text-transform: uppercase !default;

// Billboards
$billboard-height: 400 500 600 !default;
$billboard-content-width: 100% !default;
$billboard-valign: middle !default;
$billboard-halign: center !default;
$billboard-text-color: $shade-lite !default;
$billboard-background-color: transparent !default;




















