//Variables
	$gutters: (
		small: 10px,
		medium: 20px,
		large: 30px
	);
	$vertical-spacing: (
		sm: 33px,
		md: 66px,
		lg: 100px
	) !default;

	@import '../scss/_router';

//Functions & Mixins
	%blood-drop-list {
		position: relative;
		list-style: none;
		margin-bottom: 15px;
		margin-left: 20px;
		&:before,
		&:after {
			content: "";
			display: block;
			width: 10px;
			height: 10px;
			background: $color-danger;
			position: absolute;
			top: 8px;
			left: -20px;
			border-radius: 0 5px 5px 5px;
			transform: rotate(45deg);
		}
		&:after {
			background: $shade-lite;
		    transform: scale(.8) rotate(45deg);
		    box-shadow: inset -4px 2px 0 0 $color-danger;
		}
	}

	@mixin text ($txmn:14, $txmx:26, $vpmn:320, $vpmx:1600) {
		font-size: calc(#{$txmn}px + (#{$txmx} - #{$txmn}) * ((100vw - #{$vpmn}px) / (#{$vpmx} - #{$vpmn})));
	}

//Generics:


//**************************
// Layout
//**************************

	// Header - Universal
	.header {
		@include row($wrap:false);
		@include full-width;
		z-index: 1;
		padding: 0 $grid-gutters-default;
		display: flex;
		align-items: center;
		position: sticky;
		top: 0;
		background-color: rgba($shade-lite,0.9);
    	backdrop-filter: blur(5px);
		&-logo {
			font-size: $h3-font-size;
			font-weight: bold;
		}
		&-nav-wrapper {
			flex-grow: 1;
			position: relative;
		}
		&-nav {
			display: flex;
			justify-content: flex-end;
			flex-wrap: wrap;
			.mobile & {
				flex-direction: column;
				position: absolute;
				top: 100%;
				right: 0;
				background: $shade-lite;
				transform-origin: top;
    			transform: scale(1, 0);
    			transition: transform 0.5s ease;
    			&.open {
    				transform: scale(1, 1);
    			}
			}
			a {
				display: inline-block;
				color: $color-primary;
				font-size: 120%;
				text-decoration: none;
				padding: 15px 7.5px;
				font-size: 80%;
				text-transform: uppercase;
				.mobile & {
					padding: 7.5px 15px;
				}
			}
			&-trigger {
				display: none;
				.mobile & {
					display: flex;
					justify-content: flex-end;
					padding: 15px 7.5px;
				}
			}
		}
	}

	// Coming Soon Posters
	.posters {
	    display: flex;
    	flex-direction: column;
    	main {
    		@include full-width;
    		@include gutters;
    		background-image: url(images/landing-bg2.jpg);
			background-size: cover;
			background-position: top center;
		    flex-grow: 1;
		    display: flex;
		    flex-direction: column;
		    justify-content: center;
    	}
	}
	.poster {
		&-container {
			@include row;
		}
		& {
			@include column(sm 12, md 6, lg 4);
			margin-bottom: $grid-gutters-default;
			border: 10px solid $shade-dark;
			padding: 10px 10px 65px;
			background-color: $shade-dark;
			position: relative;
			transition: background-color 1s ease;
			&:after {
				display: block;
				position: absolute;
				left: 10px;
				bottom: 10px;
				width: calc(100% - 20px);
				background: $shade-dark;
				height: 50px;
				font-family: Limelight;
				color: darken($shade-lite, 50%);
				text-align: center;
				line-height: 50px;
				font-size: 35px;
				transition: color 1s ease;
			}
			&.coming-soon:after {
				content: 'Coming Soon';
			}
			&.now-playing:after {
				content: 'Now Playing';
			}
		}
		img {
			background: $shade-dark;
			border: 10px solid $shade-dark;
			opacity: 0.75;
			transition: opacity 1s ease;

		}
		&:hover {
			background-color: #00E5FB;
			&:after {
				color: $shade-lite;
			}
			img {
				opacity: 1;
			}
		}
	}

	// Main Title
	.main-title {
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 2px;
		margin-top: 50px;	
		margin-bottom: 50px;
		span {
			display: inline-block;
		}
		.title {
			font-weight: 800;
			color: $color-primary;
			font-size: 125%;
		}
		.author,
		.subtitle {
			font-weight: 100;
		}
	}

	// Rotator
	.billboard {
		@include billboard( $height:calc( 100% / 16 * 9 ) );
		@include full-width;
		text-transform: uppercase;
	}

	// Alert Banners
	.banners {
		@include row;
		@include full-width;
	}
	.banner {
		@include column;
		&-trailer {
			@include alert( $bg:$color-primary, $link:true, $contained:false );
		}
		&-poster {
			@include alert( $bg:$shade-dark, $link:true, $contained:false );
		}
		&-amazon {
			@include alert( $bg:$color-warning, $link:true, $contained:false );
		}
		display: block;
		text-align: center;
		width: 100%;
		letter-spacing: 5px;
		&:hover {
			text-decoration: none;
			letter-spacing: 8px;
		}
	}

	// Generic Subtitle
	section {
		@include row;
		@include spacer;
	}
	.sub-title {
		@include column;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 2px;
	}

	// Quick Info
	.info {
		@include spacer;
		@include row($h-gutter:true);
		&-item {
			@include column(sm 6, md 3, lg 2);
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			position: relative;
			padding-bottom: 100%;
			background-color: $shade-dark;
			&.download {
				text-transform: uppercase;
				font-size: 125%;
				text-shadow: 
					1px 1px $shade-lite,
					1px 0px $shade-lite,
					0px 1px $shade-lite,
					-1px -1px $shade-lite,
					-1px 0px $shade-lite,
					0px -1px $shade-lite
				;
				&:hover {
					a {
						text-decoration: none;
						color: $color-primary;
					}
				}
			}
		}
		&-content {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			text-align: center;
			color: $shade-lite;
		}
		&-heading {
			font-size: $h3-font-size;
			font-weight: $h4-font-weight;
			display: block;
			border-bottom: 2px solid $color-primary;
		}
	}

	// Purpose
	.purpose {
		> * {
			@include column(sm 12, md 10, lg 8);
			@include shift(md 1, lg 2);
		}
	}

	// Edit List or Cut List
	.edits {
		> * {
			@include column(sm 12, md 10, lg 8);
			@include shift(md 1, lg 2);
		}
		li {
			@extend %blood-drop-list;
		}
	}

	// Changelog over time
	.changelog {
		> * {
			@include column(sm 12, md 10, lg 8);
			@include shift(md 1, lg 2);
		}
		h3 {
			margin-top: map-get($vertical-spacing, sm);
		}
		li {
			@extend %blood-drop-list;
		}
	}

	// Comparison
	.compare {
		> * {
			@include column;
			text-align: center;
		}
		h3 {
			// @include spacer(top);
			color: $color-primary;
		}
		&__item {
			@include spacer(bottom);
		}
		&__slider {
			position:relative;
			display: inline-block;
			line-height: 0;
			width: 100%;
			padding-top: 56.25%;
		}
		&__image {
			height: 100%;
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			overflow: hidden;
			&:before {
			    position: absolute;
			    top: 0;
			    background: rgba($shade-dark,0.7);
			    display: block;
			    color: $shade-lite;
			    line-height: 28px;
			    padding: 2px 8px 1px 8px;
			    white-space: nowrap;
			}
			img {
				height: 100%;
				width: auto;
				max-width: none;
			}
			&--tcc {
				&:before {
				    content: "The Cinematic Cut";
				    left: 0;
				}
			}
			&--toc {
				&:before {
				    content: "Original Miniseries";
				    right: 0;
				}
			}
		}
		&__resize {
			position: absolute;
			top:0;
			left: 0;
			height: 100%;
			width: 50%;
		}
		&__handle {
			position: absolute;
			top: 0; 
			bottom: 0; 
			left: calc(100% - 4px) !important;
			background: white;
			width: 4px;
			cursor: ew-resize;
			&:before {
				content: '\2194';
				display: block;
				width: 30px; 
				height: 30px;
				position: absolute;
				right: 50%; 
				bottom: 50%;
				transform: translate(50%,50%);
				background: $color-primary;
				cursor: ew-resize;
				text-align: center;
				line-height: 25px;
				color: white;
				border: 3px solid $shade-lite;
				border-radius: 50%;
			}
		}
	}

	// Popups
	.trailer-modal .popup-container,
	.poster-modal .popup-container {
		padding: 0;
	}
	.poster-modal img {
		max-height: 90vh;
	}
	.download-modal {
		h3 {
			color: $color-danger;
			&:before {
				content: "\26A0";
				margin-right: 10px;
			}
			&:after {
				content: "\26A0";
				margin-left: 10px;
			}
		}
		.upload-info {
			display: block;
			font-size: 80%;
			margin-bottom: 10px;
		}
		.alert {
			@include alert($bg:$shade-lite,$contained:false);
		}
		
	}

	// Back To Top
	.backtotop {
		position: fixed;
	    bottom: 15px;
	    left: 15px;
	    border: 2px solid $color-primary;
	    color: $color-primary;
	    background: $shade-lite;
	    border-radius: 4px;
	    padding: 0 8px 0 4px;
	    font-size: 25px;
	    box-shadow: 0 3px 5px rgba($shade-dark,0.5);
	    transform: translateX(-200%);
	    transition: transform 0.5s ease;
	    &:before {
		    content: "\21d0";
		    transform: rotate(90deg);
		    display: block;
		}
		&.visible {
			transform: translateX(0);
		}
	}































