/*******************************************
* VARIABLES
********************************************/
/*******************************************
* QUICK SETUP VARIABLES
********************************************/
/*******************************************
* IMPORT FILES
********************************************/
* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: inherit;
  font-family: inherit;
  vertical-align: baseline;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: calc( 14px + ( 18 - 14 ) * ( ( 100vw - 320px ) / ( 1600 - 320 ) ));
}

body {
  font-family: San Francisco, Helvetica, Arial, Verdana, sans-serif;
  font-size: 100%;
  font-weight: normal;
  font-style: normal;
  color: #111;
  line-height: 1.3;
  --bp: sm;
  padding-left: 5px;
  padding-right: 5px;
}

@media (min-width: 700px) {
  body {
    --bp: md;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (min-width: 1100px) {
  body {
    --bp: lg;
    padding-left: 15px;
    padding-right: 15px;
  }
}

blockquote {
  border-left: 5px solid #111;
  padding: 5px 0px 5px 10px;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
}

h1 {
  font-family: Avenir Next, Helvetica, Arial, Verdana, sans-serif;
  font-size: calc( 30px + ( 54 - 30 ) * ( ( 100vw - 320px ) / ( 1600 - 320 ) ));
  font-weight: bold;
  font-style: normal;
  color: #111;
  line-height: 1.3;
  margin-bottom: 1rem;
}

h2 {
  font-family: Avenir Next, Helvetica, Arial, Verdana, sans-serif;
  font-size: calc( 25px + ( 33 - 25 ) * ( ( 100vw - 320px ) / ( 1600 - 320 ) ));
  font-weight: bold;
  font-style: normal;
  color: #111;
  line-height: 1.3;
  margin-bottom: 1rem;
}

h3 {
  font-family: Avenir Next, Helvetica, Arial, Verdana, sans-serif;
  font-size: calc( 21px + ( 26 - 21 ) * ( ( 100vw - 320px ) / ( 1600 - 320 ) ));
  font-weight: bold;
  font-style: normal;
  color: #111;
  line-height: 1.3;
  margin-bottom: 1rem;
}

h4 {
  font-family: Avenir Next, Helvetica, Arial, Verdana, sans-serif;
  font-size: calc( 14px + ( 18 - 14 ) * ( ( 100vw - 320px ) / ( 1600 - 320 ) ));
  font-weight: bold;
  font-style: normal;
  color: #111;
  line-height: 1.3;
  margin-bottom: 1rem;
}

h5 {
  font-family: Avenir Next, Helvetica, Arial, Verdana, sans-serif;
  font-size: calc( 13px + ( 16 - 13 ) * ( ( 100vw - 320px ) / ( 1600 - 320 ) ));
  font-weight: bold;
  font-style: normal;
  color: #111;
  line-height: 1.3;
  margin-bottom: 1rem;
}

h6 {
  font-family: Avenir Next, Helvetica, Arial, Verdana, sans-serif;
  font-size: calc( 11px + ( 14 - 11 ) * ( ( 100vw - 320px ) / ( 1600 - 320 ) ));
  font-weight: bold;
  font-style: normal;
  color: #111;
  line-height: 1.3;
  margin-bottom: 1rem;
}

img {
  max-width: 100%;
}

a {
  color: #bb0a1e;
  text-decoration: none;
}

p a:hover,
p a:active {
  text-decoration: underline;
}

.button {
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-align: center;
          align-items: center;
  border: 2px solid #bb0a1e;
  background-image: linear-gradient(130deg, #bb0a1e 50%, #f4374c 50%);
  border-radius: 3px;
  padding: 15px 25px;
  font-size: inherit;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: #EEE;
  background-size: 250%;
  background-position: 0% center;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.button:hover, .button:active {
  background-position: 100% center;
  color: #111;
}

.popup-open {
  overflow: hidden;
}

.popup-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(17, 17, 17, 0.5);
  overflow: hidden;
  pointer-events: none;
  opacity: 0;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: opacity 0.25s ease, -webkit-transform 0.25s ease;
  transition: opacity 0.25s ease, -webkit-transform 0.25s ease;
  transition: opacity 0.25s ease, transform 0.25s ease;
  transition: opacity 0.25s ease, transform 0.25s ease, -webkit-transform 0.25s ease;
}

.popup-open .popup-bg {
  pointer-events: auto;
  opacity: 1;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  z-index: 10;
}

.popup-wrap {
  background: #EEE;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 90vw;
  max-height: 90vh;
}

.popup-container {
  padding: 30px;
  overflow: auto;
  max-width: 90vw;
  max-height: 90vh;
}

.popup-close {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 30px;
  height: 30px;
  -webkit-transform: translate(40%, -40%);
          transform: translate(40%, -40%);
  background: #FF4136;
  cursor: pointer;
  text-align: center;
  line-height: 23px;
  color: white;
  border: 3px solid #EEE;
  border-radius: 50%;
  font-size: 30px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  z-index: 10;
}

.popup-close:before {
  content: '\00d7';
  position: relative;
  top: -2px;
}

.popup-close:hover {
  -webkit-transform: translate(40%, -40%) rotate(90deg);
          transform: translate(40%, -40%) rotate(90deg);
}

.popup-content {
  display: none;
}

.form-field {
  position: relative;
  margin-bottom: 25px;
}

.help-trigger {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 25px;
  height: 25px;
  border: 2px solid #ff9900;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  font-size: 90%;
  color: #ff9900;
  cursor: pointer;
}

.help-trigger:hover, .help-trigger.open {
  background-color: #333;
}

label {
  display: block;
  margin-bottom: 5px;
}

[type='text'],
[type='password'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='month'],
[type='week'],
[type='email'],
[type='number'],
[type='search'],
[type='tel'],
[type='time'],
[type='url'],
[type='color'],
textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 2.4375rem;
  margin: 0 0 1rem;
  padding: .5rem;
  border: 1px solid #BFBFBF;
  border-radius: 3px;
  background-color: #fefefe;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  font-family: inherit;
  font-size: 1rem;
  font-weight: normal;
  color: #0a0a0a;
  -webkit-transition: box-shadow 0.5s,border-color 0.25s ease-in-out;
  transition: box-shadow 0.5s,border-color 0.25s ease-in-out;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

[type='text']:focus,
[type='password']:focus,
[type='date']:focus,
[type='datetime']:focus,
[type='datetime-local']:focus,
[type='month']:focus,
[type='week']:focus,
[type='email']:focus,
[type='number']:focus,
[type='search']:focus,
[type='tel']:focus,
[type='time']:focus,
[type='url']:focus,
[type='color']:focus,
textarea:focus {
  outline: none;
  border: 1px solid #8a8a8a;
  background-color: #fefefe;
  box-shadow: 0 0 5px #BFBFBF;
  -webkit-transition: box-shadow 0.5s,border-color 0.25s ease-in-out;
  transition: box-shadow 0.5s,border-color 0.25s ease-in-out;
}

[type='file'] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

[type='file'] + .file-placeholder {
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-align: center;
          align-items: center;
  border: 2px solid #bb0a1e;
  background-image: linear-gradient(130deg, #bb0a1e 50%, #f4374c 50%);
  border-radius: 3px;
  padding: 5px 10px;
  font-size: 90%;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: #EEE;
  background-size: 250%;
  background-position: 0% center;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

[type='file'] + .file-placeholder:hover, [type='file'] + .file-placeholder:active {
  background-position: 100% center;
  color: #111;
}

button,
[type='submit'] {
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-align: center;
          align-items: center;
  border: 2px solid #bb0a1e;
  background-image: linear-gradient(130deg, #bb0a1e 50%, #f4374c 50%);
  border-radius: 3px;
  padding: 15px 25px;
  font-size: inherit;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: #EEE;
  background-size: 250%;
  background-position: 0% center;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

button:hover, button:active,
[type='submit']:hover,
[type='submit']:active {
  background-position: 100% center;
  color: #111;
}

/*******************************************
* INCLUDE RELEVANT FILES
********************************************/
.edits li, .changelog li {
  position: relative;
  list-style: none;
  margin-bottom: 15px;
  margin-left: 20px;
}

.edits li:before, .changelog li:before, .edits li:after, .changelog li:after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background: #FF4136;
  position: absolute;
  top: 8px;
  left: -20px;
  border-radius: 0 5px 5px 5px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.edits li:after, .changelog li:after {
  background: #EEE;
  -webkit-transform: scale(0.8) rotate(45deg);
          transform: scale(0.8) rotate(45deg);
  box-shadow: inset -4px 2px 0 0 #FF4136;
}

.header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 5px;
  width: 100%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  margin-left: -5px;
  width: calc(100% + 10px);
  max-width: 100vw;
  z-index: 1;
  padding: 0 15px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: rgba(238, 238, 238, 0.9);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

@media (min-width: 700px) {
  .header {
    grid-column-gap: 10px;
  }
}

@media (min-width: 1100px) {
  .header {
    grid-column-gap: 15px;
  }
}

@media (min-width: 700px) {
  .header {
    margin-left: -10px;
    width: calc(100% + 20px);
    max-width: 100vw;
  }
}

@media (min-width: 1100px) {
  .header {
    margin-left: -15px;
    width: calc(100% + 30px);
    max-width: 100vw;
  }
}

.header-logo {
  font-size: calc( 21px + ( 26 - 21 ) * ( ( 100vw - 320px ) / ( 1600 - 320 ) ));
  font-weight: bold;
}

.header-nav-wrapper {
  -webkit-box-flex: 1;
          flex-grow: 1;
  position: relative;
}

.header-nav {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
          justify-content: flex-end;
  flex-wrap: wrap;
}

.mobile .header-nav {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  position: absolute;
  top: 100%;
  right: 0;
  background: #EEE;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.mobile .header-nav.open {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.header-nav a {
  display: inline-block;
  color: #bb0a1e;
  font-size: 120%;
  text-decoration: none;
  padding: 15px 7.5px;
  font-size: 80%;
  text-transform: uppercase;
}

.mobile .header-nav a {
  padding: 7.5px 15px;
}

.header-nav-trigger {
  display: none;
}

.mobile .header-nav-trigger {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
          justify-content: flex-end;
  padding: 15px 7.5px;
}

.posters {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.posters main {
  margin-left: -5px;
  width: calc(100% + 10px);
  max-width: 100vw;
  --bp: sm;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-image: url(images/landing-bg2.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: top center;
  -webkit-box-flex: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

@media (min-width: 700px) {
  .posters main {
    margin-left: -10px;
    width: calc(100% + 20px);
    max-width: 100vw;
  }
}

@media (min-width: 1100px) {
  .posters main {
    margin-left: -15px;
    width: calc(100% + 30px);
    max-width: 100vw;
  }
}

@media (min-width: 700px) {
  .posters main {
    --bp: md;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 1100px) {
  .posters main {
    --bp: lg;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.poster-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 5px;
  width: 100%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  -webkit-box-pack: center;
          justify-content: center;
}

@media (min-width: 700px) {
  .poster-container {
    grid-column-gap: 10px;
  }
}

@media (min-width: 1100px) {
  .poster-container {
    grid-column-gap: 15px;
  }
}

.poster {
  grid-column-end: span 12;
  margin-bottom: 15px;
  border: 10px solid #111;
  padding: 10px 10px 65px;
  background-color: #111;
  position: relative;
  -webkit-transition: background-color 1s ease;
  transition: background-color 1s ease;
}

@media (min-width: 700px) {
  .poster {
    grid-column-end: span 6;
  }
}

@media (min-width: 1100px) {
  .poster {
    grid-column-end: span 4;
  }
}

.poster:after {
  display: block;
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: calc(100% - 20px);
  background: #111;
  height: 50px;
  font-family: Limelight;
  color: #6f6f6f;
  text-align: center;
  line-height: 50px;
  font-size: 35px;
  -webkit-transition: color 1s ease;
  transition: color 1s ease;
}

.poster.coming-soon:after {
  content: 'Coming Soon';
}

.poster.now-playing:after {
  content: 'Now Playing';
}

.poster img {
  background: #111;
  border: 10px solid #111;
  opacity: 0.75;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

.poster:hover {
  background-color: #00E5FB;
}

.poster:hover:after {
  color: #EEE;
}

.poster:hover img {
  opacity: 1;
}

.main-title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.main-title span {
  display: inline-block;
}

.main-title .title {
  font-weight: 800;
  color: #bb0a1e;
  font-size: 125%;
}

.main-title .author,
.main-title .subtitle {
  font-weight: 100;
}

.billboard {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 5px;
  width: 100%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: calc( 100% / 16 * 9);
  margin-left: -5px;
  width: calc(100% + 10px);
  max-width: 100vw;
  text-transform: uppercase;
}

@media (min-width: 700px) {
  .billboard {
    grid-column-gap: 10px;
  }
}

@media (min-width: 1100px) {
  .billboard {
    grid-column-gap: 15px;
  }
}

@media (min-width: 700px) {
  .billboard {
    margin-left: -10px;
    width: calc(100% + 20px);
    max-width: 100vw;
  }
}

@media (min-width: 1100px) {
  .billboard {
    margin-left: -15px;
    width: calc(100% + 30px);
    max-width: 100vw;
  }
}

.billboard-slide {
  background-size: cover;
  background-position: center;
  grid-column-end: span 12;
  display: -webkit-box;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #EEE;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  --bp: sm;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  -webkit-box-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
          align-items: flex-end;
  text-align: right;
  -webkit-transition: -webkit-transform 0.6s linear;
  transition: -webkit-transform 0.6s linear;
  transition: transform 0.6s linear;
  transition: transform 0.6s linear, -webkit-transform 0.6s linear;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

@media (min-width: 700px) {
  .billboard-slide {
    --bp: md;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 1100px) {
  .billboard-slide {
    --bp: lg;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.billboard-slide.active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.billboard-slide.active ~ .billboard-slide {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.billboard-slide:only-child {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.billboard-slide > * {
  position: relative;
  z-index: 2;
  margin-bottom: 1rem;
  max-width: 100%;
}

.billboard-slide h1, .billboard-slide h2, .billboard-slide h3, .billboard-slide h4, .billboard-slide h5, .billboard-slide h6 {
  color: inherit;
}

.billboard-slide:before {
  content: '';
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.banners {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 5px;
  width: 100%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  margin-left: -5px;
  width: calc(100% + 10px);
  max-width: 100vw;
}

@media (min-width: 700px) {
  .banners {
    grid-column-gap: 10px;
  }
}

@media (min-width: 1100px) {
  .banners {
    grid-column-gap: 15px;
  }
}

@media (min-width: 700px) {
  .banners {
    margin-left: -10px;
    width: calc(100% + 20px);
    max-width: 100vw;
  }
}

@media (min-width: 1100px) {
  .banners {
    margin-left: -15px;
    width: calc(100% + 30px);
    max-width: 100vw;
  }
}

.banner {
  grid-column-end: span 12;
  display: block;
  text-align: center;
  width: 100%;
  letter-spacing: 5px;
}

.banner-trailer {
  display: block;
  max-width: 100%;
  background: #bb0a1e;
  padding-top: 4px;
  font-weight: 500;
  font-size: 80%;
  line-height: 4;
  -webkit-transition: letter-spacing 0.5s ease;
  transition: letter-spacing 0.5s ease;
  line-height: 1.3;
  padding: 20px 0;
  color: #EEE;
  text-decoration: none;
}

.banner-trailer:hover {
  text-decoration: none;
}

.banner-trailer * {
  color: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  font-size: inherit;
  line-height: inherit;
  cursor: inherit;
  margin-bottom: 0;
}

.banner-poster {
  display: block;
  max-width: 100%;
  background: #111;
  padding-top: 4px;
  font-weight: 500;
  font-size: 80%;
  line-height: 4;
  -webkit-transition: letter-spacing 0.5s ease;
  transition: letter-spacing 0.5s ease;
  line-height: 1.3;
  padding: 20px 0;
  color: #EEE;
  text-decoration: none;
}

.banner-poster:hover {
  text-decoration: none;
}

.banner-poster * {
  color: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  font-size: inherit;
  line-height: inherit;
  cursor: inherit;
  margin-bottom: 0;
}

.banner-amazon {
  display: block;
  max-width: 100%;
  background: #ff9900;
  padding-top: 4px;
  font-weight: 500;
  font-size: 80%;
  line-height: 4;
  -webkit-transition: letter-spacing 0.5s ease;
  transition: letter-spacing 0.5s ease;
  line-height: 1.3;
  padding: 20px 0;
  color: #EEE;
  text-decoration: none;
}

.banner-amazon:hover {
  text-decoration: none;
}

.banner-amazon * {
  color: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  font-size: inherit;
  line-height: inherit;
  cursor: inherit;
  margin-bottom: 0;
}

.banner:hover {
  text-decoration: none;
  letter-spacing: 8px;
}

section {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 5px;
  width: 100%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  margin-top: 33px;
  margin-bottom: 33px;
}

@media (min-width: 700px) {
  section {
    grid-column-gap: 10px;
  }
}

@media (min-width: 1100px) {
  section {
    grid-column-gap: 15px;
  }
}

@media (min-width: 700px) {
  section {
    margin-top: 66px;
    margin-bottom: 66px;
  }
}

@media (min-width: 1100px) {
  section {
    margin-top: 100px;
    margin-bottom: 100px;
  }
}

.sub-title {
  grid-column-end: span 12;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.info {
  margin-top: 33px;
  margin-bottom: 33px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  width: 100%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
}

@media (min-width: 700px) {
  .info {
    margin-top: 66px;
    margin-bottom: 66px;
  }
}

@media (min-width: 1100px) {
  .info {
    margin-top: 100px;
    margin-bottom: 100px;
  }
}

@media (min-width: 700px) {
  .info {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
}

@media (min-width: 1100px) {
  .info {
    grid-column-gap: 15px;
    grid-row-gap: 15px;
  }
}

.info-item {
  grid-column-end: span 6;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding-bottom: 100%;
  background-color: #111;
}

@media (min-width: 700px) {
  .info-item {
    grid-column-end: span 3;
  }
}

@media (min-width: 1100px) {
  .info-item {
    grid-column-end: span 2;
  }
}

.info-item.download {
  text-transform: uppercase;
  font-size: 125%;
  text-shadow: 1px 1px #EEE, 1px 0px #EEE, 0px 1px #EEE, -1px -1px #EEE, -1px 0px #EEE, 0px -1px #EEE;
}

.info-item.download:hover a {
  text-decoration: none;
  color: #bb0a1e;
}

.info-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  color: #EEE;
}

.info-heading {
  font-size: calc( 21px + ( 26 - 21 ) * ( ( 100vw - 320px ) / ( 1600 - 320 ) ));
  font-weight: bold;
  display: block;
  border-bottom: 2px solid #bb0a1e;
}

.purpose > * {
  grid-column-end: span 12;
}

@media (min-width: 700px) {
  .purpose > * {
    grid-column-end: span 10;
  }
}

@media (min-width: 1100px) {
  .purpose > * {
    grid-column-end: span 8;
  }
}

@media (min-width: 700px) {
  .purpose > * {
    grid-column-start: 2;
  }
}

@media (min-width: 1100px) {
  .purpose > * {
    grid-column-start: 3;
  }
}

.edits > * {
  grid-column-end: span 12;
}

@media (min-width: 700px) {
  .edits > * {
    grid-column-end: span 10;
  }
}

@media (min-width: 1100px) {
  .edits > * {
    grid-column-end: span 8;
  }
}

@media (min-width: 700px) {
  .edits > * {
    grid-column-start: 2;
  }
}

@media (min-width: 1100px) {
  .edits > * {
    grid-column-start: 3;
  }
}

.changelog > * {
  grid-column-end: span 12;
}

@media (min-width: 700px) {
  .changelog > * {
    grid-column-end: span 10;
  }
}

@media (min-width: 1100px) {
  .changelog > * {
    grid-column-end: span 8;
  }
}

@media (min-width: 700px) {
  .changelog > * {
    grid-column-start: 2;
  }
}

@media (min-width: 1100px) {
  .changelog > * {
    grid-column-start: 3;
  }
}

.changelog h3 {
  margin-top: 33px;
}

.compare > * {
  grid-column-end: span 12;
  text-align: center;
}

.compare h3 {
  color: #bb0a1e;
}

.compare__item {
  margin-bottom: 33px;
}

@media (min-width: 700px) {
  .compare__item {
    margin-bottom: 66px;
  }
}

@media (min-width: 1100px) {
  .compare__item {
    margin-bottom: 100px;
  }
}

.compare__slider {
  position: relative;
  display: inline-block;
  line-height: 0;
  width: 100%;
  padding-top: 56.25%;
}

.compare__image {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.compare__image:before {
  position: absolute;
  top: 0;
  background: rgba(17, 17, 17, 0.7);
  display: block;
  color: #EEE;
  line-height: 28px;
  padding: 2px 8px 1px 8px;
  white-space: nowrap;
}

.compare__image img {
  height: 100%;
  width: auto;
  max-width: none;
}

.compare__image--tcc:before {
  content: "The Cinematic Cut";
  left: 0;
}

.compare__image--toc:before {
  content: "Original Miniseries";
  right: 0;
}

.compare__resize {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
}

.compare__handle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: calc(100% - 4px) !important;
  background: white;
  width: 4px;
  cursor: ew-resize;
}

.compare__handle:before {
  content: '\2194';
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 50%;
  bottom: 50%;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
  background: #bb0a1e;
  cursor: ew-resize;
  text-align: center;
  line-height: 25px;
  color: white;
  border: 3px solid #EEE;
  border-radius: 50%;
}

.trailer-modal .popup-container,
.poster-modal .popup-container {
  padding: 0;
}

.poster-modal img {
  max-height: 90vh;
}

.download-modal h3 {
  color: #FF4136;
}

.download-modal h3:before {
  content: "\26A0";
  margin-right: 10px;
}

.download-modal h3:after {
  content: "\26A0";
  margin-left: 10px;
}

.download-modal .upload-info {
  display: block;
  font-size: 80%;
  margin-bottom: 10px;
}

.download-modal .alert {
  display: block;
  max-width: 100%;
  background: #EEE;
  padding-top: 4px;
  font-weight: 500;
  font-size: 80%;
  line-height: 4;
  -webkit-transition: letter-spacing 0.5s ease;
  transition: letter-spacing 0.5s ease;
  line-height: 1.3;
  padding: 20px 0;
  color: #111;
}

.download-modal .alert * {
  color: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  font-size: inherit;
  line-height: inherit;
  cursor: inherit;
  margin-bottom: 0;
}

.backtotop {
  position: fixed;
  bottom: 15px;
  left: 15px;
  border: 2px solid #bb0a1e;
  color: #bb0a1e;
  background: #EEE;
  border-radius: 4px;
  padding: 0 8px 0 4px;
  font-size: 25px;
  box-shadow: 0 3px 5px rgba(17, 17, 17, 0.5);
  -webkit-transform: translateX(-200%);
          transform: translateX(-200%);
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.backtotop:before {
  content: "\21d0";
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  display: block;
}

.backtotop.visible {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
/*# sourceMappingURL=it.css.map */