//Variables
	$color-danger: #6a2825;
	$red: $color-danger;
	$grey: #ddd;
	$white: #efefef;
	$black: #333;
	$link: #d00;
	$gutters: (
		small: 10px,
		medium: 20px,
		large: 30px
	);

	@import '../scss/_router';

//Functions & Mixins
	@mixin mobile ( $dir:'only' ) {
		@if ($dir == 'down') {
			@media (max-width: #{map-get($breakpoints,md) - 1px}) {
				@content;
			}
		} @else if ($dir == 'up') {
			@content;
		} @else if ($dir =='only') {
			@media (max-width: #{map-get($breakpoints,md) - 1px}) {
				@content;
			}
		}
	}
	@mixin tablet ( $dir:'up' ) {
		@if ($dir == 'down') {
			@media (max-width: #{map-get($breakpoints,lg) - 1px}) {
				@content;
			}
		} @else if ($dir == 'up') {
			@media (min-width: #{map-get($breakpoints,md)}) {
				@content;
			}
		} @else if ($dir =='only') {
			@media (min-width: #{map-get($breakpoints,md)}) and (max-width: #{map-get($breakpoints,lg) - 1px}) {
				@content;
			}
		}
	}
	@mixin desktop ( $dir:'up' ) {
		@if ($dir == 'down') {
			@content;
		} @else if ($dir == 'up') {
			@media (min-width: #{map-get($breakpoints,lg)}) {
				@content;
			}
		} @else if ($dir =='only') {
			@media (min-width: #{map-get($breakpoints,lg)}) {
				@content;
			}
		}
	}
	@mixin concat ($parent,$class,$type:class,$pseudo:before) {
		$concat: ".";
		@if $type == class {
			$concat: ".";
			@at-root {
				#{$parent}.#{$class}:#{$pseudo} {
					@content;
				}
			}
		} @else if $type == pseudo {
			@at-root {
				#{$parent}:#{$class}:#{$pseudo} {
					@content;
				}
			}
		}
		
	}
	%blood-drop-list {
		position: relative;
		list-style: none;
		margin-bottom: 15px;
		&:before,
		&:after {
			content: "";
			display: block;
			width: 10px;
			height: 10px;
			background: $red;
			position: absolute;
			top: 8px;
			left: -20px;
			border-radius: 0 5px 5px 5px;
			transform: rotate(45deg);
		}
		&:after {
			background: $white;
		    transform: scale(.8) rotate(45deg);
		    box-shadow: inset -4px 2px 0 0 $red
		}
	}

	@mixin text ($txmn:14, $txmx:26, $vpmn:320, $vpmx:1600) {
		font-size: calc(#{$txmn}px + (#{$txmx} - #{$txmn}) * ((100vw - #{$vpmn}px) / (#{$vpmx} - #{$vpmn})));
	}

//Generics:


//**************************
// Layout
//**************************

	// Header - Universal
	.header {
		@include row($wrap:false);
		z-index: 1;
		padding: 0 $grid-gutters-default;
		display: flex;
		align-items: center;
		&-logo {
			font-size: $h3-font-size;
			font-weight: bold;
		}
		&-nav-wrapper {
			flex-grow: 1;
			position: relative;
		}
		&-nav {
			display: flex;
			justify-content: flex-end;
			flex-wrap: wrap;
			.mobile & {
				flex-direction: column;
				position: absolute;
				top: 100%;
				right: 0;
				background: $shade-lite;
			}
			a {
				display: inline-block;
				color: $color-primary;
				font-size: 120%;
				text-decoration: none;
				padding: 15px 7.5px;
				font-size: 80%;
				text-transform: uppercase;
				.mobile & {
					padding: 7.5px 15px;
				}
			}
			&-trigger {
				display: none;
				.mobile & {
					display: flex;
					justify-content: flex-end;
					padding: 15px 7.5px;
				}
			}
		}
	}

	// Coming Soon Posters
	.posters {
	    display: flex;
    	flex-direction: column;
    	main {
    		background-image: url(images/landing-bg2.jpg);
			background-size: cover;
			background-position: top center;
		    flex-grow: 1;
		    display: flex;
		    flex-direction: column;
		    justify-content: center;
    	}
	}
	.poster {
		&-container {
			@include row;
		}
		& {
			@include column(sm 12, md 6, lg 4);
			margin-bottom: $grid-gutters-default;
			border: 10px solid $black;
			padding: 10px 10px 65px;
			background-color: $black;
			position: relative;
			transition: background-color 1s ease;
			&:after {
				display: block;
				position: absolute;
				left: 10px;
				bottom: 10px;
				width: calc(100% - 20px);
				background: $black;
				height: 50px;
				font-family: Limelight;
				color: darken($white, 50%);
				text-align: center;
				line-height: 50px;
				font-size: 35px;
				transition: color 1s ease;
			}
			&.coming-soon:after {
				content: 'Coming Soon';
			}
			&.now-playing:after {
				content: 'Now Playing';
			}
		}
		img {
			background: $black;
			border: 10px solid $black;
			opacity: 0.75;
			transition: opacity 1s ease;

		}
		&:hover {
			background-color: #00E5FB;
			&:after {
				color: $white;
			}
			img {
				opacity: 1;
			}
		}
	}

	// Main Title
	.main-title {
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 2px;
		margin-top: 50px;	
		margin-bottom: 50px;
		span {
			display: inline-block;
		}
		.title {
			font-weight: 800;
			color: $red;
			font-size: 125%;
		}
		.author,
		.subtitle {
			font-weight: 100;
		}
	}

	// Rotator
	.billboard {
		@include billboard;
		text-transform: uppercase;
	}

	// Alert Banners
	.trailer-banner {
		@include column;
		@include alert( $bg:$color-danger, $link:true );
		display: block;
		text-align: center;
		width: 100%;
	}
	.poster-banner {
		@include column;
		@include alert( $bg:$shade-dark, $link:true );
		display: block;
		text-align: center;
		width: 100%;
	}

	// Generic Subtitle
	section {
		@include row;
	}
	.sub-title {
		@include column;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 2px;
	}

	// Quick Info
	.info {
		@include spacer;
		@include row;
		&-item {
			@include column(sm 6, md 3, lg 2);
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			position: relative;
			padding-bottom: 100%;
			background-color: $shade-dark;
			&.download {
				background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(images/it/title_bg.png);
				text-transform: uppercase;
				font-size: 125%;
				text-shadow: 
					1px 1px $white,
					1px 0px $white,
					0px 1px $white,
					-1px -1px $white,
					-1px 0px $white,
					0px -1px $white
				;
				&:hover {
					background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)),url(images/it/title_bg.png);
				}
			}
		}
		&-content {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			text-align: center;
			color: $shade-lite;
		}
		&-heading {
			font-size: $h3-font-size;
			font-weight: $h4-font-weight;
			display: block;
			border-bottom: 2px solid $color-danger;
		}
	}




// ******************************
// ******************************
// 
// Old Content. Remove ASAP
// 
// ******************************
// ******************************
	.main-title {
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 2px;
		margin-top: 50px;	
		margin-bottom: 50px;
		span {
			display: inline-block;
		}
		.title {
			font-weight: 800;
			color: $red;
			font-size: 125%;
		}
		.author,
		.subtitle {
			font-weight: 100;
		}
	}
	.subtitle {
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 2px;
		margin-top: 50px;	
		margin-bottom: 50px;
		@include column(12);
	}
	section,
	.section {
		@include row;
	}


	.info {
		&__image {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-size: cover;
			background-position: center;
			opacity: 0.5;
		}
		&__item {
			$info: &;
			@include column(6);
			@include tablet {
				@include column(4);
			}
			@include desktop {
				@include column(2);
			}
			position: relative;
			color: $white;
			background-color: $black;
			&:hover {
				background-size: 75%;
			}
			&:before {
				content: '';
				display: block;
				padding-top: 100%;
			}
			&--download {
				text-transform: uppercase;
				font-size: 125%;
				text-shadow: 
					1px 1px $white,
					1px 0px $white,
					0px 1px $white,
					-1px -1px $white,
					-1px 0px $white,
					0px -1px $white
				;
			}
		}
		&__content {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
			&--heading {
				font-weight: bold;
				border-bottom: 2px solid $link;
				line-height: 14px;
				&.popup-link {
					border-bottom: 0;
					letter-spacing: 3px;
				}
			}
			&--body {
			}
		}
	}
	.purpose {
		p {
			@include column(12);
			@include tablet {
				@include column(10);
			}
			@include desktop {
				@include column(8);
			}
		}
	}
	.edits {
		p {
			@include column(12);
			@include tablet {
				@include column(10);
			}
			@include desktop {
				@include column(8);
			}
		}
		ul {
			@include column(11);
			@include tablet {
				@include column(9);
			}
			@include desktop {
				@include column(7);
			}
			li {
				@extend %blood-drop-list;
			}
		}
	}
	.changelog {
		h3 {
			@include column(12);
			@include tablet {
				@include column(10);
			}
			@include desktop {
				@include column(8);
			}
		}
		ul {
			@include column(11);
			@include tablet {
				@include column(9);
			}
			@include desktop {
				@include column(7);
			}
			li {
				@extend %blood-drop-list;
			}
		}
	}
	.compare {
		margin-bottom: 100px;
		h3 {
			text-align: center;
			margin-bottom: 10px;;
		}
		&__inner {
			@include column(12);
		}
		&__item {
			width: 100%;
			margin-bottom: 50px;
		}
		&__slider {
			position:relative;
			display: inline-block;
			line-height: 0;
			width: 100%;
			padding-top: 56.25%;
		}
		&__image {
			height: 100%;
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			overflow: hidden;
			&:before {
			    position: absolute;
			    top: 0;
			    background: rgba($black,0.7);
			    display: block;
			    color: $white;
			    line-height: 28px;
			    padding: 2px 8px 1px 8px;
			    white-space: nowrap;
			}
			img {
				height: 100%;
				width: auto;
				max-width: none;
			}
			&--tcc {
				&:before {
				    content: "The Cinematic Cut";
				    left: 0;
				}
			}
			&--toc {
				&:before {
				    content: "Original Miniseries";
				    right: 0;
				}
			}
		}
		&__resize {
			position: absolute;
			top:0;
			left: 0;
			height: 100%;
			width: 50%;
		}
		&__handle {
			position: absolute;
			top: 0; 
			bottom: 0; 
			left: calc(100% - 4px) !important;
			background: white;
			width: 4px;
			cursor: ew-resize;
			&:before {
				content: '\2194';
				display: block;
				width: 30px; 
				height: 30px;
				position: absolute;
				right: 50%; 
				bottom: 50%;
				transform: translate(50%,50%);
				background: $red;
				cursor: ew-resize;
				text-align: center;
				line-height: 25px;
				color: white;
				border: 3px solid $white;
				border-radius: 50%;
			}
		}
	}
	.backtotop {
		position: fixed;
	    bottom: 15px;
	    left: 15px;
	    border: 2px solid $red;
	    color: $red;
	    background: $white;
	    border-radius: 4px;
	    padding: 0 8px 0 4px;
	    font-size: 25px;
	    box-shadow: 0 3px 5px rgba($black,0.5);
	    transform: translateX(-200%);
	    transition: transform 0.5s ease;
	    &:before {
		    content: "\21d0";
		    transform: rotate(90deg);
		    display: block;
		}
		&.visible {
			transform: translateX(0);
		}
	}

//Widgets
	.popup {
		&-open {
			overflow: hidden;
		}
		&-bg {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: rgba($black,0.5);
			overflow: hidden;
			pointer-events: none;
			opacity: 0;
			transform: scaleY(0);
			transition: 
				opacity 0.25s ease,
				transform 0.25s ease;
			;
			.popup-open & {
				pointer-events: auto;
				opacity: 1;
				transform: scaleY(1);
				z-index: 2;
			}
		}
		&-wrap {
			background: $white;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			max-width: 90vw;
			max-height: 90vh;
		}
		&-container {
			padding: 30px;
			overflow: auto;
			max-width: 90vw;
			max-height: 90vh;
		}
		&-close {
			position: absolute;
			top: 0;
			right: 0;
			display: block;
			width: 30px; 
			height: 30px;
			transform: translate(40%, -40%);
			background: $red;
			cursor: pointer;
			text-align: center;
			line-height: 23px;
			color: white;
			border: 3px solid $white;
			border-radius: 50%;
			font-size: 30px;
			transition: transform 0.3s ease;
			z-index: 1;
			&:before {
				content: '\00d7';
			}
			&:hover {
				transform: translate(40%, -40%) rotate(90deg);
			}
		}
		&-content {
			display: none;
		}
	}

	// Responsive video
	.popup-bg.trailer-modal .popup-container,
	.popup-bg.poster-modal .popup-container {
		padding: 0;
	}
	.popup-bg.poster-modal img {
		max-height: 90vh;
	}
	.responsive-iframe {
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		height: 0;
		width: 90vw;
		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}































