//Variables
	$red: #6a2825;
	$grey: #ddd;
	$white: #efefef;
	$black: #333;
	$link: #d00;
	$breakpoints: (
		medium: 700px,
		large: 1100px,
	);
	$gutters: (
		small: 10px,
		medium: 20px,
		large: 30px
	);

//Functions & Mixins
	@mixin mobile ( $dir:'only' ) {
		@if ($dir == 'down') {
			@media (max-width: #{map-get($breakpoints,medium) - 1px}) {
				@content;
			}
		} @else if ($dir == 'up') {
			@content;
		} @else if ($dir =='only') {
			@media (max-width: #{map-get($breakpoints,medium) - 1px}) {
				@content;
			}
		}
	}
	@mixin tablet ( $dir:'up' ) {
		@if ($dir == 'down') {
			@media (max-width: #{map-get($breakpoints,large) - 1px}) {
				@content;
			}
		} @else if ($dir == 'up') {
			@media (min-width: #{map-get($breakpoints,medium)}) {
				@content;
			}
		} @else if ($dir =='only') {
			@media (min-width: #{map-get($breakpoints,medium)}) and (max-width: #{map-get($breakpoints,large) - 1px}) {
				@content;
			}
		}
	}
	@mixin desktop ( $dir:'up' ) {
		@if ($dir == 'down') {
			@content;
		} @else if ($dir == 'up') {
			@media (min-width: #{map-get($breakpoints,large)}) {
				@content;
			}
		} @else if ($dir =='only') {
			@media (min-width: #{map-get($breakpoints,large)}) {
				@content;
			}
		}
	}
	@mixin concat ($parent,$class,$type:class,$pseudo:before) {
		$concat: ".";
		@if $type == class {
			$concat: ".";
			@at-root {
				#{$parent}.#{$class}:#{$pseudo} {
					@content;
				}
			}
		} @else if $type == pseudo {
			@at-root {
				#{$parent}:#{$class}:#{$pseudo} {
					@content;
				}
			}
		}
		
	}
	%blood-drop-list {
		position: relative;
		list-style: none;
		margin-bottom: 15px;
		&:before,
		&:after {
			content: "";
			display: block;
			width: 10px;
			height: 10px;
			background: $red;
			position: absolute;
			top: 8px;
			left: -20px;
			border-radius: 0 5px 5px 5px;
			transform: rotate(45deg);
		}
		&:after {
			background: $white;
		    transform: scale(.8) rotate(45deg);
		    box-shadow: inset -4px 2px 0 0 $red
		}
	}
	@mixin row () {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		max-width: map-get($breakpoints,large);
		margin-left: auto;
		margin-right: auto;
	}
	@mixin column ($size:null) {
		padding-left: map-get($gutters,large)/2;
		padding-right: map-get($gutters,large)/2;
		@if $size != null {
			width: #{100%/12*$size};
		}
	}
	@mixin text ($txmn:14, $txmx:26, $vpmn:320, $vpmx:1600) {
		font-size: calc(#{$txmn}px + (#{$txmx} - #{$txmn}) * ((100vw - #{$vpmn}px) / (#{$vpmx} - #{$vpmn})));
	}

//Generics:
	*,
	*:before,
	*:after {
	    box-sizing: border-box;
	}

	html,
	body {
	    font-family: San Francisco, Avenir, Helvetica, Verdana;
	    background: $white;
	    color: $black;
	    line-height: 1.5;
	    margin: 0;
	}

	h1, h2, h3, h4, h5, h6 {
		margin: 0;
	}

	img {
		max-width: 100%;
	}

	a {
		color: $link;
		text-decoration: inherit;
	}

//Layout
	.nav {
		background: $white;
		text-transform: uppercase;
		font-weight: bold;
		width: 100%;
		z-index: 2;
		margin-top: 1px;
		transition: box-shadow 0.5s ease;
		height: 54px;
		&__inner {
			@include row;
			justify-content: space-between;
		}
		&__128k,
		&__internal {
			@include column;
		}
		&__128k {
			display: flex;
			align-items: center;
			a {
				color: $black;
				font-weight: bold;
			}
		}
		&__internal {
			padding-top: 15px;
			padding-bottom: 15px;
			a:not(:last-child) {
				margin-right: 10px;
			}
		}
		&.fixed {
			box-shadow: 0px 0px 15px rgba($black,0.25);
		}
		.mobile-toggle {
			$toggle: &;
			display: block;
			width: 24px;
			height: 24px;
			position: relative;
			@include tablet {
				display: none;				
			}
			&:before,
			&:after {
				content: '';
				position: absolute;
				left: 0px;
				height: 2px;
				width: 100%;
				transition: 
					transform 0.5s ease,
					background-color 0.5s ease,
					box-shadow 0.5s ease
				;
				background-color: $black;
			}
			&:before {
				top: 3px;
				transform-origin: top left;
				box-shadow: 0px 8px $black;
				@include concat($toggle,open,$pseudo:before) {
					transform: translateX(4px) rotate(45deg);
					box-shadow: none;
					background-color: $red;
				}
			}
			&:after {
				bottom: 2px;
				transform-origin: bottom left;
				@include concat($toggle,open,$pseudo:after) {
					transform: translateX(3px) rotate(-45deg);
					background-color: $red;
				}
			}
		}
		.mobile-flyout {
			@include mobile {
				position: absolute;
				top: 100%;
				right: 0;
				padding: 10px;
				background: $white;
				box-shadow: 0px 10px 10px rgba($black,0.25);
				transform: scaleY(0);
				transform-origin: top;
				transition: transform 0.5s ease;
				&.open {
					transform: scaleY(1);
				}
				a {
					display: block;
					text-align: right;
					margin-right: 0;
					padding: 5px 10px;
				}
			}
		}
	}
	.main-title {
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 2px;
		margin-top: 50px;	
		margin-bottom: 50px;
		span {
			display: inline-block;
		}
		.title {
			font-weight: 800;
			color: $red;
			font-size: 125%;
		}
		.author,
		.subtitle {
			font-weight: 100;
		}
	}
	.sub-title {
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 2px;
		margin-top: 50px;	
		margin-bottom: 50px;
		@include column(12);
	}
	section,
	.section {
		@include row;
	}
	.hero-rotator {
		max-width: 1500px;
		height: calc(1500px / 16 * 9);
		max-height: calc(100vw / 16 * 9);
		position: relative;
		color: $white;
		&__slide {
			$slide: &;
			@include column(12);
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-size: cover;
			background-position: center;
			// transform: scale(0);
			// z-index: 0;
			opacity: 0;
			&:before {
				// width: map-get($breakpoints,large)/4;
				@include text($txmn:25,$txmx:60);
				font-weight: 600;
				line-height: 1;
				text-transform: uppercase;
				position: absolute;
				padding: map-get($gutters,small);
				@include tablet {
					padding: map-get($gutters,medium);
				}
				@include desktop {
					padding: map-get($gutters,large);
				}
				@include concat($slide,top) {
					top: 0;
				}
				@include concat($slide,middle) {
					top: 50%;
					transform: translateY(-50%);
				}
				@include concat($slide,bottom) {
					bottom: 0;
				}
				@include concat($slide,left) {
					left: 0;
					// width: map-get($breakpoints,large)/4;
				}
				@include concat($slide,center) {
					left: 0;
					width: 100%;
					text-align: center;
				}
				@include concat($slide,right) {
					right: 0;
					text-align: right;
					// width: map-get($breakpoints,large)/4;
				}
			}
			&--anderson {
				background-image: url(images/h_anderson.jpg);
				&:before {
					content: "Harry Anderson";
				}
			}
			&--brandis {
				background-image: url(images/j_brandis.jpg);
				&:before {
					content: "Jonathan Brandis";
				}
			}
			&--christopher {
				background-image: url(images/d_christopher.jpg);
				&:before {
					content: "Dennis Christopher";
				}
			}
			&--crane {
				background-image: url(images/b_crane.jpg);
				&:before {
					content: "Brandon Crane";
				}
			}
			&--curry {
				background-image: url(images/t_curry.jpg);
				&:before {
					content: "Tim Curry";
				}
			}
			&--faraizl {
				background-image: url(images/a_faraizl.jpg);
				&:before {
					content: "Adam Faraizl";
				}
			}
			&--green {
				background-image: url(images/s_green.jpg);
				&:before {
					content: "Seth Green";
				}
			}
			&--hiller {
				background-image: url(images/b_hiller.jpg);
				&:before {
					content: "Ben Hiller";
				}
			}
			&--masur {
				background-image: url(images/r_masur.jpg);
				&:before {
					content: "Richard Masur";
				}
			}
			&--otoole {
				background-image: url(images/a_otoole.jpg);
				&:before {
					content: "Annette O'Toole";
				}
			}
			&--perkins {
				background-image: url(images/e_perkins.jpg);
				&:before {
					content: "Emily Perkins";
				}
			}
			&--reid {
				background-image: url(images/t_reid.jpg);
				&:before {
					content: "Tim Reid";
				}
			}
			&--ritter {
				background-image: url(images/j_ritter.jpg);
				&:before {
					content: "John Ritter";
				}
			}
			&--taylor {
				background-image: url(images/m_taylor.jpg);
				&:before {
					content: "Marlon Taylor";
				}
			}
			&--thomas {
				background-image: url(images/r_thomas.jpg);
				&:before {
					content: "Richard Thomas";
				}
			}
			$slides: 15;
			$duration: 5;
			@keyframes slide {
				0% {
					opacity: 0;
				}
				#{100 / $slides * 0.10}% {
					opacity: 1;
				}
				#{100/$slides}% {
					opacity: 1;
				}
				#{100/$slides * 1.1}% {
					opacity: 0;
				}
				100% {
					opacity: 0;
				}
			}
			@for $i from 1 through $slides {
				&:nth-of-type(#{$i}) {
					animation-name: slide;
					animation-duration: #{$slides*$duration}s;
					animation-iteration-count: infinite;
					@if $i > 1 {
						animation-delay: #{$i * $duration - $duration}s;
					}
				}
			}
		}
	}
	.trailer,
	.poster  {
		max-width: 100%;
		background: $red;
	    color: $white;
	    padding-top: 4px;
	    cursor: pointer;
	    font-weight: 100;
		font-size: 80%;
		line-height: 4;
		transition: letter-spacing 0.5s ease;
		letter-spacing: 3px;
		@include tablet {
			letter-spacing: 5px;
		}
		&:hover {
			letter-spacing: 6px;
			@include tablet {
				letter-spacing: 8px;
			}
		}
	    h2 {
			font-weight: inherit;
			letter-spacing: inherit;
			font-size: inherit;
			line-height: inherit;
			cursor: inherit;
	    }
	}
	.poster {
		background: $black;
	}
	.info {
		&__image {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-size: cover;
			background-position: center;
			opacity: 0.5;
		}
		&__item {
			$info: &;
			@include column(6);
			@include tablet {
				@include column(4);
			}
			@include desktop {
				@include column(2);
			}
			position: relative;
			color: $white;
			background-color: $black;
			&:hover {
				background-size: 75%;
			}
			&:before {
				content: '';
				display: block;
				padding-top: 100%;
			}
			&--download {
				text-transform: uppercase;
				font-size: 125%;
				text-shadow: 
					1px 1px $white,
					1px 0px $white,
					0px 1px $white,
					-1px -1px $white,
					-1px 0px $white,
					0px -1px $white
				;
			}
		}
		&__content {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
			&--heading {
				font-weight: bold;
				border-bottom: 2px solid $link;
				line-height: 14px;
				&.popup-link {
					border-bottom: 0;
					letter-spacing: 3px;
				}
			}
			&--body {
			}
		}
	}
	.purpose {
		p {
			@include column(12);
			@include tablet {
				@include column(10);
			}
			@include desktop {
				@include column(8);
			}
		}
	}
	.edits {
		p {
			@include column(12);
			@include tablet {
				@include column(10);
			}
			@include desktop {
				@include column(8);
			}
		}
		ul {
			@include column(11);
			@include tablet {
				@include column(9);
			}
			@include desktop {
				@include column(7);
			}
			li {
				@extend %blood-drop-list;
			}
		}
	}
	.changelog {
		h3 {
			@include column(12);
			@include tablet {
				@include column(10);
			}
			@include desktop {
				@include column(8);
			}
		}
		ul {
			@include column(11);
			@include tablet {
				@include column(9);
			}
			@include desktop {
				@include column(7);
			}
			li {
				@extend %blood-drop-list;
			}
		}
	}
	.compare {
		margin-bottom: 100px;
		h3 {
			text-align: center;
			margin-bottom: 10px;;
		}
		&__inner {
			@include column(12);
		}
		&__item {
			width: 100%;
			margin-bottom: 50px;
		}
		&__slider {
			position:relative;
			display: inline-block;
			line-height: 0;
			width: 100%;
			padding-top: 56.25%;
		}
		&__image {
			height: 100%;
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			overflow: hidden;
			&:before {
			    position: absolute;
			    top: 0;
			    background: rgba($black,0.7);
			    display: block;
			    color: $white;
			    line-height: 28px;
			    padding: 2px 8px 1px 8px;
			    white-space: nowrap;
			}
			img {
				height: 100%;
				width: auto;
				max-width: none;
			}
			&--tcc {
				&:before {
				    content: "The Cinematic Cut";
				    left: 0;
				}
			}
			&--toc {
				&:before {
				    content: "Original Miniseries";
				    right: 0;
				}
			}
		}
		&__resize {
			position: absolute;
			top:0;
			left: 0;
			height: 100%;
			width: 50%;
		}
		&__handle {
			position: absolute;
			top: 0; 
			bottom: 0; 
			left: calc(100% - 4px) !important;
			background: white;
			width: 4px;
			cursor: ew-resize;
			&:before {
				content: '\2194';
				display: block;
				width: 30px; 
				height: 30px;
				position: absolute;
				right: 50%; 
				bottom: 50%;
				transform: translate(50%,50%);
				background: $red;
				cursor: ew-resize;
				text-align: center;
				line-height: 25px;
				color: white;
				border: 3px solid $white;
				border-radius: 50%;
			}
		}
	}
	.backtotop {
		position: fixed;
	    bottom: 15px;
	    left: 15px;
	    border: 2px solid $red;
	    color: $red;
	    background: $white;
	    border-radius: 4px;
	    padding: 0 8px 0 4px;
	    font-size: 25px;
	    box-shadow: 0 3px 5px rgba($black,0.5);
	    transform: translateX(-200%);
	    transition: transform 0.5s ease;
	    &:before {
		    content: "\21d0";
		    transform: rotate(90deg);
		    display: block;
		}
		&.visible {
			transform: translateX(0);
		}
	}

//Widgets
	.popup {
		&-open {
			overflow: hidden;
		}
		&-bg {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: rgba($black,0.5);
			overflow: hidden;
			pointer-events: none;
			opacity: 0;
			transform: scaleY(0);
			transition: 
				opacity 0.25s ease,
				transform 0.25s ease;
			;
			.popup-open & {
				pointer-events: auto;
				opacity: 1;
				transform: scaleY(1);
				z-index: 2;
			}
		}
		&-wrap {
			background: $white;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			max-width: 90vw;
			max-height: 90vh;
		}
		&-container {
			padding: 30px;
			overflow: auto;
			max-width: 90vw;
			max-height: 90vh;
		}
		&-close {
			position: absolute;
			top: 0;
			right: 0;
			display: block;
			width: 30px; 
			height: 30px;
			transform: translate(40%, -40%);
			background: $red;
			cursor: pointer;
			text-align: center;
			line-height: 23px;
			color: white;
			border: 3px solid $white;
			border-radius: 50%;
			font-size: 30px;
			transition: transform 0.3s ease;
			z-index: 1;
			&:before {
				content: '\00d7';
			}
			&:hover {
				transform: translate(40%, -40%) rotate(90deg);
			}
		}
		&-content {
			display: none;
		}
	}

	// Responsive video
	.popup-bg.trailer-modal .popup-container,
	.popup-bg.poster-modal .popup-container {
		padding: 0;
	}
	.popup-bg.poster-modal img {
		max-height: 90vh;
	}
	.responsive-iframe {
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		height: 0;
		width: 90vw;
		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}































