// Variables
    //N64 Colours
    // $charcoal: ;
    // $watermelon: ;
    // $fire: ;
    // $gold: ;
    // $jungle: ;
    $ice: #0BADCC;
    // $grape: ;
    // $smoke: ;

    // Colours
    $color-primary: #011DA9 !default; // Navy
    $color-secondary: #C1BED1 !default; // Olive
    $color-tertiary: #B10DC9 !default; // Purple
    $color-success: #069330 !default;
    $color-warning: #FFC001 !default;
    $color-danger: #C20D02 !default;

    // Shades
    $shade-dark: #111 !default;
    $shade-medium-dark: #443e3c;
    $shade-medium: #777 !default;
    $shade-medium-lite: $color-secondary;
    $shade-lite: #EEE !default;

    // Gutters
    $gutters: (
        small: 10px,
        medium: 20px,
        large: 30px
    );

    // Vertical Spacing
    $vertical-spacing: (
        sm: 33px,
        md: 66px,
        lg: 100px
    ) !default;

    @import '../_scss/_router';

$cta-spread: false;

:root {
    --color: #{$ice};
}

@font-face {
    font-family: 'Zurich';
    src: url('zurch.woff2') format('woff2'),
         url('zurch.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


// CUSTOMIZATIONS!
.hide,
.hidden {
    display: none !important;
}

.n64 {
    font-family: Zurich, Impact, sans-serif;
    text-transform: uppercase;
}

sup {
    vertical-align: super;
    font-size: 80%;
}


// Header - Universal
.header {
    @include row($wrap:false);
    @include full-width;
    z-index: 1;
    padding: 0 $grid-gutters-default;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: rgba($shade-lite, 0.75);
    backdrop-filter: blur(5px);
    &-logo {
        font-size: $h3-font-size;
        font-weight: bold;
    }
    &-nav-wrapper {
        flex-grow: 1;
        position: relative;
    }
    &-nav {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        .mobile & {
            flex-direction: column;
            position: absolute;
            top: 100%;
            right: 0;
            background: $color-secondary;
            transform-origin: top;
            transform: scale(1, 0);
            transition: transform 0.5s ease;
            &.open {
                transform: scale(1, 1);
            }
        }
        a {
            display: inline-block;
            color: $color-primary;
            font-size: 120%;
            text-decoration: none;
            padding: 15px 7.5px;
            font-size: 80%;
            text-transform: uppercase;
            .mobile & {
                padding: 7.5px 15px;
            }
        }
        &-trigger {
            display: none;
            .mobile & {
                display: flex;
                justify-content: flex-end;
                padding: 15px 7.5px;
            }
        }
    }
}

// Main Title
.title-wrap {
    @include row($wrap:false);
    @include full-width;    
    background-image: url(header-ice.jpg);
    background-size: cover;
    background-position: center;
    background-color: var(--color);
}
.main-title {
    @include column(sm 12);
    @include spacer($type:padding);
    margin-top: 50px; //To account for menu;
    margin-bottom: 0;
    text-align: center;
    color: $shade-lite;
}

// Game Table
section.game-table {
    @include row;
    margin: 25px 0 150px;
    table {
        @include column(sm 12, md 8);
        @include shift(md 2);
        display: table; //To override the column display style
    }
    thead,
    tbody {
    }
    tr {
        &.selected {
            color: $shade-lite;
            background: var(--color);
            .gameImage {
                position: relative;
                &:after {
                    position: absolute;
                    content: '';
                    top: 50%;
                    left: 50%;
                    width: 20px;
                    height: 7px;
                    display: block;
                    border: 3px solid $shade-lite;
                    border-top-width: 0;
                    border-right-width: 0;
                    -webkit-transform: rotate(-45deg);
                    transform: translate(-50%, -80%) rotate(-45deg);
                }
            }
        }
    }
    th,
    td {
        padding: 5px 10px;
    }
    th {
        background-color: $shade-medium-dark;
        color: $shade-lite;
    }
    td {
        border: 0px solid $shade-dark;
        border-width: 0 1px 1px 0;
        &.gameImage {
            width: 50px;
        }
        &.gameTitle {}
        &.gameLooseValue {
            border-right-width: 0;
            text-align: right;
            &:before {
                content: '$';
            }
        }
    }
}

// Footer
.cta-strip--searchbar {
    background-color: var(--color);
    @include gutters($h:true, $v:false);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    @include bp(md) {
        flex-wrap: nowrap;
    }
    justify-content: center;

    input {
        font-size: 17px;
        width: calc(100% - 75px);
        height: auto;
        margin-bottom: 0;
        border-radius: 0;
        background-color: rgba($shade-lite, 0.5);
        &,
        &:focus {
            border: none;
            box-shadow: none;
        }
        @include bp(md) {
            width: calc(100% - 350px);
        }
        @include bp(lg) {
            width: 500px;
            max-width: 80%;
        }
    }

    button {
        padding: 13px 10px;
        margin-left: -2px;
        border-radius: 0;
        @include bp(md) {
            margin-right: 25px;
        }
    }

    .item-callout {
        background-color: rgba($shade-lite, 0.5);
        color: $shade-dark;
        padding: 5px;
        text-align: center;
        margin: 10px 2px 0;
        @include bp(md) {
            margin: 0 2px;
        }
        letter-spacing: 0;
        &:first-of-type {
            // margin-left: 50px;
        }
        &:after {
            line-height: 1;
            display: block;
        }
        &__inner {
            font-size: 200%;
            display: block;
            font-weight: 800;
            line-height: 1;
            color: inherit;
            text-decoration: none;
            white-space: nowrap;
        }
        &--count {
            &:after {
                content: "ITEMS";
            }
        }
        &--total {
            &:hover {
                cursor: pointer;
                background-color: rgba($shade-lite, 1);
            }
            &:after {
                content: "TOTAL VALUE";
            }
            .item-callout__inner {
                &:before {
                    content: '$';
                }
                &:after {
                    content: ' CAD';
                }
            }
        }
    }
}


// Popups
.share-modal__content {
    .sharingInstructions {
        @include alert($bg:var(--color),$text:$shade-lite);
        margin-bottom: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    .sharingUrl {
        margin-bottom: 0;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        height: 100px;
    }
}

.save-modal__content {
    text-align: center;
    .save-bundle {
        @include button($bg-color:#{var(--color)}, $color:$shade-lite, $shade-shift:$color-primary, $shift-color:$shade-lite, $size:small);
    }
}

.bundles-modal__content {
    text-align: center;
    #bundles {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
        max-width: 300px;
        margin: 0 auto;
    }
    .bundleName {
        @include button($bg-color:#{var(--color)}, $color:$shade-lite, $shade-shift:$color-primary, $shift-color:$shade-lite, $size:small);
        margin: 5px 0;
        min-width: 200px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .deleteBundle {
        @include button($bg-color:$color-danger, $color:$shade-lite, $shade-shift:darken, $size:small);
        margin: 5px 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    .resetBundles {
        @include button($bg-color:$color-danger, $shade-shift:darken, $size:small);
    }
    .emptyUl {
        display: none;
    }
    #bundles:empty + .emptyUl {
        display: block;
    }
    small {
        @include alert($bg:$color-secondary,$text:$shade-medium-dark);
    }
}

.pricing-modal__content {
    .discount-description {
        @include alert($bg:var(--color),$text:$shade-lite);
    }
    .discount-table {
        margin: 0 auto;
        td {
            padding: 5px;
            border-bottom: 2px solid var(--color);
            &.discount-value {
                padding-right: 25px;
            }
            &.discount-dollars {
                padding-left: 25px;
                border-left: 2px solid var(--color);
                &:before {
                    content: '$';
                }
            }
        }
    }
}

.options-modal__content {
    display: flex;
    flex-direction: column;
    h2 ~ h2 {
        margin-top: 40px;
    }
    $color_checkbox_success:#4cd964;
    $color_checkbox_default:#8E8E93;
    $transition: .3s cubic-bezier(0.95, 0.05, 0.795, 0.035);
    $width: 100%;
    $height: 2em;
    .option-toggle {
        position: relative;
        height: 30px;
        line-height: 30px;
        padding-left: 58px;
        &:before {
            content: '';
            position: absolute;
            height: 24px;
            width: 48px;
            top: 3px;
            left: 0;
            border-radius: 12px;
            border: 1px solid $shade-dark;
            background-color: $color-danger;
            transition: background-color 0.5s ease;
        }
        &:after{
            content: '';
            position: absolute;
            height: 24px;
            width: 24px;
            top: 3px;
            left: 0px;
            border: 1px solid $shade-dark;
            border-radius: 50%;
            z-index: 1;
            background-color: $shade-lite;
            transition: left 0.5s ease;
        }
        &.open {
            &:before {
                background-color: $color-success;
            }
            &:after{
                left: 24px;
            }
        }
    }
    .option-button {
        @include button($bg-color:$color-danger,$size:small);
    }
}















