*,
*:before,
*:after {
  box-sizing: border-box; }

html,
body {
  font-family: San Francisco, Avenir, Helvetica, Verdana;
  background: #efefef;
  color: #333;
  line-height: 1.5;
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

img {
  max-width: 100%; }

a {
  color: #00d;
  text-decoration: inherit; }

input {
  border: 2px solid #333;
  background-color: #efefef;
  color: #333;
  font-family: inherit;
  padding: 10px;
  outline: none; }
  input:focus {
    border-color: #0d0; }

button {
  padding: 10px;
  border: 2px solid #333;
  color: #333;
  background: #ddd; }
  button.alert {
    background-color: #d00;
    border-color: #d00;
    color: #efefef; }

.option-toggle {
  display: block;
  padding-left: 60px;
  position: relative;
  margin: 10px 0; }
  .option-toggle:before {
    content: 'off';
    position: absolute;
    left: 0;
    top: 50%;
    height: 25px;
    background: #555;
    display: block;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 50px;
    text-align: right;
    padding: 0 5px;
    border-radius: 12px;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 24px;
    color: white;
    text-shadow: 1px 1px 0px #333;
    -webkit-transition: all .5s ease;
            transition: all .5s ease; }
    .option-toggle.open:before {
      content: 'on';
      background: #0d0;
      text-align: left; }
  .option-toggle:after {
    content: '';
    display: block;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 2px;
    top: 1px;
    background-color: #efefef;
    border-radius: 50%;
    -webkit-transition: all .5s ease;
            transition: all .5s ease; }
    .option-toggle.open:after {
      left: 26px; }

.hidden {
  display: none; }

.nav {
  background: #efefef;
  text-transform: uppercase;
  font-weight: bold;
  width: 100%;
  z-index: 2;
  margin-top: 1px;
  -webkit-transition: box-shadow 0.5s ease;
          transition: box-shadow 0.5s ease;
  height: 54px; }
  .nav__inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .nav__128k, .nav__internal {
    padding-left: 15px;
    padding-right: 15px; }
  .nav__128k {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .nav__128k a {
      color: #333;
      font-weight: bold; }
  .nav__internal {
    padding-top: 15px;
    padding-bottom: 15px; }
    .nav__internal a:not(:last-child) {
      margin-right: 10px; }
  .nav.fixed {
    box-shadow: 0px 0px 15px rgba(51, 51, 51, 0.25); }
  .nav .mobile-toggle {
    display: block;
    width: 24px;
    height: 24px;
    position: relative; }
    @media (min-width: 700px) {
      .nav .mobile-toggle {
        display: none; } }
    .nav .mobile-toggle:before, .nav .mobile-toggle:after {
      content: '';
      position: absolute;
      left: 0px;
      height: 2px;
      width: 100%;
      -webkit-transition: -webkit-transform 0.5s ease, background-color 0.5s ease, box-shadow 0.5s ease;
              transition: transform 0.5s ease, background-color 0.5s ease, box-shadow 0.5s ease;
      background-color: #333; }
    .nav .mobile-toggle:before {
      top: 3px;
      -webkit-transform-origin: top left;
          -ms-transform-origin: top left;
              transform-origin: top left;
      box-shadow: 0px 8px #333; }
      .nav .mobile-toggle.open:before {
        -webkit-transform: translateX(4px) rotate(45deg);
            -ms-transform: translateX(4px) rotate(45deg);
                transform: translateX(4px) rotate(45deg);
        box-shadow: none;
        background-color: #d00; }
    .nav .mobile-toggle:after {
      bottom: 2px;
      -webkit-transform-origin: bottom left;
          -ms-transform-origin: bottom left;
              transform-origin: bottom left; }
      .nav .mobile-toggle.open:after {
        -webkit-transform: translateX(3px) rotate(-45deg);
            -ms-transform: translateX(3px) rotate(-45deg);
                transform: translateX(3px) rotate(-45deg);
        background-color: #d00; }
  @media (max-width: 699px) {
    .nav .mobile-flyout {
      position: absolute;
      top: 100%;
      right: 0;
      padding: 10px;
      background: #efefef;
      box-shadow: 0px 10px 10px rgba(51, 51, 51, 0.25);
      -webkit-transform: scaleY(0);
          -ms-transform: scaleY(0);
              transform: scaleY(0);
      -webkit-transform-origin: top;
          -ms-transform-origin: top;
              transform-origin: top;
      -webkit-transition: -webkit-transform 0.5s ease;
              transition: transform 0.5s ease; }
      .nav .mobile-flyout.open {
        -webkit-transform: scaleY(1);
            -ms-transform: scaleY(1);
                transform: scaleY(1); }
      .nav .mobile-flyout a {
        display: block;
        text-align: right;
        margin-right: 0;
        padding: 5px 10px; } }

.main-title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 50px;
  margin-bottom: 50px; }
  .main-title span {
    display: inline-block; }
  .main-title .title {
    font-weight: 800;
    color: #d00;
    font-size: 125%; }
  .main-title .author,
  .main-title .subtitle {
    font-weight: 100; }

.sub-title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%; }

section,
.section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.hero-rotator {
  max-width: 1500px;
  height: calc(1500px / 16 * 9);
  max-height: calc(100vw / 16 * 9);
  position: relative;
  color: #efefef; }
  .hero-rotator__slide {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    opacity: 0; }
    .hero-rotator__slide:before {
      font-size: calc(25px + (60 - 25) * ((100vw - 320px) / (1600 - 320)));
      font-weight: 600;
      line-height: 1;
      text-transform: uppercase;
      position: absolute;
      padding: 10px; }
      @media (min-width: 700px) {
        .hero-rotator__slide:before {
          padding: 20px; } }
      @media (min-width: 1100px) {
        .hero-rotator__slide:before {
          padding: 30px; } }
      .hero-rotator__slide.top:before {
        top: 0; }
      .hero-rotator__slide.middle:before {
        top: 50%;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%); }
      .hero-rotator__slide.bottom:before {
        bottom: 0; }
      .hero-rotator__slide.left:before {
        left: 0; }
      .hero-rotator__slide.center:before {
        left: 0;
        width: 100%;
        text-align: center; }
      .hero-rotator__slide.right:before {
        right: 0;
        text-align: right; }
@-webkit-keyframes slide {
  0% {
    opacity: 0; }
  0.6666666667% {
    opacity: 1; }
  6.6666666667% {
    opacity: 1; }
  7.3333333333% {
    opacity: 0; }
  100% {
    opacity: 0; } }
@keyframes slide {
  0% {
    opacity: 0; }
  0.6666666667% {
    opacity: 1; }
  6.6666666667% {
    opacity: 1; }
  7.3333333333% {
    opacity: 0; }
  100% {
    opacity: 0; } }
    .hero-rotator__slide:nth-of-type(1) {
      -webkit-animation-name: slide;
              animation-name: slide;
      -webkit-animation-duration: 75s;
              animation-duration: 75s;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite; }
    .hero-rotator__slide:nth-of-type(2) {
      -webkit-animation-name: slide;
              animation-name: slide;
      -webkit-animation-duration: 75s;
              animation-duration: 75s;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
      -webkit-animation-delay: 5s;
              animation-delay: 5s; }
    .hero-rotator__slide:nth-of-type(3) {
      -webkit-animation-name: slide;
              animation-name: slide;
      -webkit-animation-duration: 75s;
              animation-duration: 75s;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
      -webkit-animation-delay: 10s;
              animation-delay: 10s; }
    .hero-rotator__slide:nth-of-type(4) {
      -webkit-animation-name: slide;
              animation-name: slide;
      -webkit-animation-duration: 75s;
              animation-duration: 75s;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
      -webkit-animation-delay: 15s;
              animation-delay: 15s; }
    .hero-rotator__slide:nth-of-type(5) {
      -webkit-animation-name: slide;
              animation-name: slide;
      -webkit-animation-duration: 75s;
              animation-duration: 75s;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
      -webkit-animation-delay: 20s;
              animation-delay: 20s; }
    .hero-rotator__slide:nth-of-type(6) {
      -webkit-animation-name: slide;
              animation-name: slide;
      -webkit-animation-duration: 75s;
              animation-duration: 75s;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
      -webkit-animation-delay: 25s;
              animation-delay: 25s; }
    .hero-rotator__slide:nth-of-type(7) {
      -webkit-animation-name: slide;
              animation-name: slide;
      -webkit-animation-duration: 75s;
              animation-duration: 75s;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
      -webkit-animation-delay: 30s;
              animation-delay: 30s; }
    .hero-rotator__slide:nth-of-type(8) {
      -webkit-animation-name: slide;
              animation-name: slide;
      -webkit-animation-duration: 75s;
              animation-duration: 75s;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
      -webkit-animation-delay: 35s;
              animation-delay: 35s; }
    .hero-rotator__slide:nth-of-type(9) {
      -webkit-animation-name: slide;
              animation-name: slide;
      -webkit-animation-duration: 75s;
              animation-duration: 75s;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
      -webkit-animation-delay: 40s;
              animation-delay: 40s; }
    .hero-rotator__slide:nth-of-type(10) {
      -webkit-animation-name: slide;
              animation-name: slide;
      -webkit-animation-duration: 75s;
              animation-duration: 75s;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
      -webkit-animation-delay: 45s;
              animation-delay: 45s; }
    .hero-rotator__slide:nth-of-type(11) {
      -webkit-animation-name: slide;
              animation-name: slide;
      -webkit-animation-duration: 75s;
              animation-duration: 75s;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
      -webkit-animation-delay: 50s;
              animation-delay: 50s; }
    .hero-rotator__slide:nth-of-type(12) {
      -webkit-animation-name: slide;
              animation-name: slide;
      -webkit-animation-duration: 75s;
              animation-duration: 75s;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
      -webkit-animation-delay: 55s;
              animation-delay: 55s; }
    .hero-rotator__slide:nth-of-type(13) {
      -webkit-animation-name: slide;
              animation-name: slide;
      -webkit-animation-duration: 75s;
              animation-duration: 75s;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
      -webkit-animation-delay: 60s;
              animation-delay: 60s; }
    .hero-rotator__slide:nth-of-type(14) {
      -webkit-animation-name: slide;
              animation-name: slide;
      -webkit-animation-duration: 75s;
              animation-duration: 75s;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
      -webkit-animation-delay: 65s;
              animation-delay: 65s; }
    .hero-rotator__slide:nth-of-type(15) {
      -webkit-animation-name: slide;
              animation-name: slide;
      -webkit-animation-duration: 75s;
              animation-duration: 75s;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
      -webkit-animation-delay: 70s;
              animation-delay: 70s; }

.cta-strip {
  max-width: 100%;
  background: #d00;
  color: #efefef;
  padding-top: 4px;
  cursor: pointer;
  font-weight: 100;
  font-size: 80%;
  line-height: 4;
  -webkit-transition: letter-spacing 0.5s ease;
          transition: letter-spacing 0.5s ease;
  letter-spacing: 3px; }
  @media (min-width: 700px) {
    .cta-strip {
      letter-spacing: 5px; } }
  .cta-strip--poster {
    background: #333; }
  .cta-strip h2 {
    font-weight: inherit;
    letter-spacing: inherit;
    font-size: inherit;
    line-height: inherit;
    cursor: inherit; }

.info-block__image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  opacity: 0.5; }
.info-block__item {
  padding-left: 15px;
  padding-right: 15px;
  width: 50%;
  position: relative;
  color: #efefef;
  background-color: #333; }
  @media (min-width: 700px) {
    .info-block__item {
      padding-left: 15px;
      padding-right: 15px;
      width: 33.3333333333%; } }
  @media (min-width: 1100px) {
    .info-block__item {
      padding-left: 15px;
      padding-right: 15px;
      width: 16.6666666667%; } }
  .info-block__item:hover {
    background-size: 75%; }
  .info-block__item:before {
    content: '';
    display: block;
    padding-top: 100%; }
  .info-block__item--download {
    text-transform: uppercase;
    font-size: 125%;
    text-shadow: 1px 1px #efefef, 1px 0px #efefef, 0px 1px #efefef, -1px -1px #efefef, -1px 0px #efefef, 0px -1px #efefef; }
.info-block__content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center; }
  .info-block__content--heading {
    font-weight: bold;
    border-bottom: 2px solid #00d;
    line-height: 14px; }
    .info-block__content--heading.popup-link {
      border-bottom: 0;
      letter-spacing: 3px; }

.backtotop {
  position: fixed;
  bottom: 15px;
  left: 15px;
  border: 2px solid #d00;
  color: #d00;
  background: #efefef;
  border-radius: 4px;
  padding: 0 8px 0 4px;
  font-size: 25px;
  box-shadow: 0 3px 5px rgba(51, 51, 51, 0.5);
  -webkit-transform: translateX(-200%);
      -ms-transform: translateX(-200%);
          transform: translateX(-200%);
  -webkit-transition: -webkit-transform 0.5s ease;
          transition: transform 0.5s ease; }
  .backtotop:before {
    content: "\21d0";
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    display: block; }
  .backtotop.visible {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0); }

.popup-content {
  display: none; }
.popup-open {
  overflow: hidden; }
.popup-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(51, 51, 51, 0.5);
  overflow: hidden;
  pointer-events: none;
  opacity: 0;
  -webkit-transform: scaleY(0);
      -ms-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: opacity 0.25s ease, -webkit-transform 0.25s ease;
          transition: opacity 0.25s ease, transform 0.25s ease; }
  .popup-open .popup-bg {
    pointer-events: auto;
    opacity: 1;
    -webkit-transform: scaleY(1);
        -ms-transform: scaleY(1);
            transform: scaleY(1);
    z-index: 5; }
.popup-wrap {
  background: #efefef;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 90vw;
  max-height: 90vh; }
.popup-container {
  padding: 30px;
  overflow: auto;
  max-width: 90vw;
  max-height: 90vh; }
  .popup-container .popup-content {
    display: block; }
.popup-close {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 30px;
  height: 30px;
  -webkit-transform: translate(40%, -40%);
      -ms-transform: translate(40%, -40%);
          transform: translate(40%, -40%);
  background: #d00;
  cursor: pointer;
  text-align: center;
  line-height: 23px;
  color: white;
  border: 3px solid #efefef;
  border-radius: 50%;
  font-size: 30px;
  -webkit-transition: -webkit-transform 0.3s ease;
          transition: transform 0.3s ease;
  z-index: 1; }
  .popup-close:before {
    content: '\00d7'; }
  .popup-close:hover {
    -webkit-transform: translate(40%, -40%) rotate(90deg);
        -ms-transform: translate(40%, -40%) rotate(90deg);
            transform: translate(40%, -40%) rotate(90deg); }

.popup-bg.trailer-modal .popup-container,
.popup-bg.poster-modal .popup-container {
  padding: 0; }

.popup-bg.poster-modal img {
  max-height: 90vh; }

.responsive-iframe {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
  width: 90vw; }
  .responsive-iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

nav.nav.open {
  z-index: 4; }

.cta-strip--searchbar {
  background-color: #333;
  width: 100%;
  z-index: 3;
  padding: 4px 10px;
  cursor: auto; }
  .cta-strip--searchbar.fixed {
    box-shadow: 0px 5px 7px 0px rgba(51, 51, 51, 0.15); }
  .cta-strip--searchbar input {
    font-size: 17px;
    width: calc(100% - 60px); }
    @media (min-width: 700px) {
      .cta-strip--searchbar input {
        width: calc(100% - 350px); } }
    @media (min-width: 1100px) {
      .cta-strip--searchbar input {
        width: 500px;
        max-width: 80%; } }
  .cta-strip--searchbar button {
    padding: 13px 10px;
    margin-left: -2px; }
    @media (min-width: 700px) {
      .cta-strip--searchbar button {
        margin-right: 25px; } }
  .cta-strip--searchbar .item-callout {
    background-color: #ddd;
    color: #333;
    padding: 5px;
    text-align: center;
    margin: 0 2px;
    letter-spacing: 0; }
    .cta-strip--searchbar .item-callout:after {
      line-height: 1;
      display: block; }
    .cta-strip--searchbar .item-callout--count:after {
      content: "ITEMS"; }
    .cta-strip--searchbar .item-callout--total:after {
      content: "TOTAL"; }
    .cta-strip--searchbar .item-callout__inner {
      font-size: 200%;
      display: block;
      font-weight: 800;
      line-height: 1; }
    .cta-strip--searchbar .item-callout--total .item-callout__inner:before {
      content: '$'; }
    .cta-strip--searchbar .item-callout--total .item-callout__inner:after {
      content: ' CAD'; }

section.game-table {
  margin: 25px 0; }
  section.game-table tr.selected {
    background: green; }

.bundles-modal__content {
  text-align: center; }
  .bundles-modal__content #bundles {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
  .bundles-modal__content .bundleName {
    width: 200px;
    padding: 10px 5px;
    line-height: 1.1;
    color: #333;
    border: 2px solid #333;
    margin: 5px 0;
    border-radius: 5px 0px 0px 5px;
    cursor: pointer; }
    .bundles-modal__content .bundleName:hover {
      background: rgba(0, 221, 0, 0.5); }
  .bundles-modal__content .deleteBundle {
    width: 50px;
    background: #ddd;
    color: #333;
    margin: 5px 0;
    border-radius: 0px 5px 5px 0px;
    border: 2px solid #333;
    border-left: 0;
    position: relative;
    cursor: pointer; }
    .bundles-modal__content .deleteBundle:before {
      content: 'DELETE';
      font-size: 10px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
    .bundles-modal__content .deleteBundle:hover {
      color: #efefef;
      background: #d00; }

/*# sourceMappingURL=n64.css.map */